/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/* Cart */
.leo-bt-cart.disabled:focus {
  background: #acaaa6; }

.leo-modal .modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
.leo-modal .modal-header.info-mess, .leo-modal .modal-header.warning-mess {
  background: #2FB5D2; }
.leo-modal .modal-header.block-mess {
  background: #F39D72; }
.leo-modal .modal-title .material-icons {
  margin-right: 0.3125rem; }
  .rtl .leo-modal .modal-title .material-icons {
    margin-left: 0.3125rem;
    margin-right: inherit; }
.leo-modal .modal-footer {
  text-align: right; }
  .rtl .leo-modal .modal-footer {
    text-align: left; }
  .leo-modal .modal-footer .btn {
    margin-left: 10px; }
    .rtl .leo-modal .modal-footer .btn {
      margin-right: 10px;
      margin-left: inherit; }

.leo-modal-cart .modal-title {
  font-weight: 600;
  color: #FFFFFF;
  font-size: 1.125rem;
  display: none; }
.leo-modal-cart .modal-header {
  border: none; }

.leo-modal-cart .modal-dialog,
.leo-modal-compare .modal-dialog,
.leo-modal-wishlist .modal-dialog {
  margin: 15.625rem auto; }
.leo-modal-cart .modal-title,
.leo-modal-compare .modal-title,
.leo-modal-wishlist .modal-title {
  font-weight: 400;
  font-family: "Noto Sans", sans-serif; }
  .leo-modal-cart .modal-title a,
  .leo-modal-compare .modal-title a,
  .leo-modal-wishlist .modal-title a {
    font-weight: 600; }

.leo-loading,
.leo-modal-review-loading {
  display: none; }

.leo-bt-select-attr,
.leo-dropdown-attr {
  width: 100%; }

.leo-select-attr {
  /* text-overflow: ellipsis;
  overflow: hidden; */
  white-space: normal; }
  .leo-select-attr .selected,
  .leo-select-attr .selected.disable, .leo-select-attr:hover {
    background: #A0D468;
    color: #fff; }
  .leo-select-attr.disable {
    background: #a5a5a5; }

.leo-dropdown-attr {
  padding: 0px;
  z-index: 999;
  top: auto;
  bottom: 100%; }

.cssload-speeding-wheel {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  border: 2px solid #222222;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 800ms infinite linear;
  -o-animation: cssload-spin 800ms infinite linear;
  -ms-animation: cssload-spin 800ms infinite linear;
  -webkit-animation: cssload-spin 800ms infinite linear;
  -moz-animation: cssload-spin 800ms infinite linear; }

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* Review */
.leo-modal-review .modal-title, .leo-modal-review .leo-modal-send-wishlist .modal-title {
  text-transform: uppercase; }
.leo-modal-review .modal-dialog {
  max-width: 650px; }
.leo-modal-review .product_desc {
  margin-top: 20px;
  text-align: center; }
.leo-modal-review .btn {
  color: #FFFFFF;
  background-color: #8abf44;
  border-color: #8abf44;
  font-size: 14px; }
  .leo-modal-review .btn:hover {
    color: #FFFFFF;
    background-color: #666666;
    border-color: #666666; }

.cancel a {
  margin: 1px 5px 0 0;
  width: 10px;
  height: 10px;
  position: relative;
  display: inline-block; }
  .rtl .cancel a {
    margin: 1px 0 0 5px; }
  .cancel a:before {
    content: "\f056";
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    color: #e34747; }
    .rtl .cancel a:before {
      right: 0;
      left: auto; }

.cancel, .star {
  overflow: hidden;
  float: left;
  margin: 0 5px 0 0;
  cursor: pointer;
  font-size: 11px;
  line-height: 11px; }
  .rtl .cancel, .rtl .star {
    float: right; }
  .rtl .cancel, .rtl .star {
    margin: 0 0 0 5px; }

div.star:before {
  content: "\f005";
  color: #777676;
  font-family: "FontAwesome";
  display: inline-block; }

.star a {
  display: block;
  position: absolute;
  text-indent: -5000px; }

div.star.star_on:before, div.star.star_hover:before {
  content: "\f005";
  font-family: "FontAwesome";
  display: inline-block;
  color: #fc9191; }

#criterions_list {
  list-style-type: none; }
  #criterions_list .star_content {
    margin-top: 3px;
    display: inline-block; }
  #criterions_list li {
    margin-bottom: 10px; }
  #criterions_list label {
    display: inline;
    float: left;
    margin: 0 10px 0 0; }
    .rtl #criterions_list label {
      float: right; }
    .rtl #criterions_list label {
      margin: 0 0 0 10px; }

.new_review_form_content #criterions_list {
  border-bottom: 1px solid #CCC;
  padding-bottom: 15px;
  list-style-type: none; }

.new_review_form_content .form-group.has-error input, .new_review_form_content .form-group.has-error textarea {
  outline: 2px solid #ff4c4c; }

.open-review-form {
  display: none; }

.leo-modal-review .has-success, .leo-modal-review .has-danger {
  text-align: center; }
  .leo-modal-review .has-success label, .leo-modal-review .has-danger label {
    font-weight: 600;
    font-size: 1.125rem;
    display: inline; }

.leo-list-product-reviews {
  margin-top: 10px; }

.leo-list-product-reviews .star_content,
.leo-list-product-reviews .star,
.review_author .star_content,
.review_author .star,
.product-rating .star_content,
.product-rating .star,
#leo_product_reviews_block_extra .star_content,
#leo_product_reviews_block_extra .star {
  cursor: default; }

.review_author .star_content {
  display: inline-block; }

.leo-list-product-reviews-wraper {
  display: inline-block; }

#leo_product_reviews_block_extra .reviews_note > span {
  float: left; }
  .rtl #leo_product_reviews_block_extra .reviews_note > span {
    float: right; }
#leo_product_reviews_block_extra .star_content {
  float: left;
  margin-top: 3px; }
  .rtl #leo_product_reviews_block_extra .star_content {
    float: right; }

.reviews_advices {
  margin: 20px 0; }
  .reviews_advices li {
    display: inline-block; }
    .reviews_advices li i {
      font-size: 18px; }
    .reviews_advices li.last {
      margin-left: 17px;
      border-left: 1px solid #e8e8e8;
      padding-left: 15px; }
      .rtl .reviews_advices li.last {
        margin-right: 17px;
        margin-left: inherit; }
      .rtl .reviews_advices li.last {
        border-right: 1px solid #e8e8e8;
        border-left: inherit; }
      .rtl .reviews_advices li.last {
        padding-right: 15px;
        padding-left: inherit; }

#product_reviews_block_tab .review {
  margin-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 10px; }
@media (min-width: 576px) {
  #product_reviews_block_tab .review_author {
    border-right: 1px solid #e8e8e8; }
    .rtl #product_reviews_block_tab .review_author {
      border-left: 1px solid #e8e8e8;
      border-right: inherit; } }
#product_reviews_block_tab .report_btn {
  padding: 0; }
#product_reviews_block_tab .report_btn.disabled {
  background: #fff;
  color: #acaaa6; }

.usefulness_btn.active, .usefulness_btn.active:hover {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de; }

.review_button .btn.active {
  display: inline-block; }

.review_button .btn {
  margin: 5px; }

.leo-fake-button {
  display: none; }

/* Compare */
.compare_extra_information {
  min-width: 200px; }

.comparison_infos {
  text-align: center; }

.leo-compare-button.added,
.leo-wishlist-button.added {
  background: #2FB5D2;
  color: #fff;
  border-color: #fff; }
.leo-compare-button.active,
.leo-wishlist-button.active {
  border-color: #2FB5D2; }

.leo-productscompare-item .thumbnail-container {
  height: 100%; }
.leo-productscompare-item .product-description {
  position: relative;
  width: 100%;
  height: 100%; }
.leo-productscompare-item .delete-productcompare .leo-compare-button {
  float: right; }
  .rtl .leo-productscompare-item .delete-productcompare .leo-compare-button {
    float: left; }

.product-rating {
  display: inline-block; }

.leo-productscompare-item .thumbnail-container .product-image {
  margin-bottom: 10px; }
.leo-productscompare-item .thumbnail-container .button-container:before {
  left: 0 !important;
  right: 0 !important;
  margin: auto; }
.leo-productscompare-item .thumbnail-container .button-container .leo-bt-cart-content span {
  display: inline-block; }
.leo-productscompare-item .thumbnail-container .leo-bt-cart {
  margin-bottom: 10px;
  width: 100%;
  font-size: 14px;
  background: #333b48; }
  .leo-productscompare-item .thumbnail-container .leo-bt-cart:hover {
    background: #8abf44; }
.leo-productscompare-item .product-description {
  width: 290px !important;
  margin: auto; }
.leo-productscompare-item .delete-productcompare .leo-compare-button {
  float: none !important;
  border: none !important; }
  .leo-productscompare-item .delete-productcompare .leo-compare-button:focus {
    outline: 0 !important; }

/* Wishlist */
.list-wishlist {
  margin: 20px 0;
  overflow-x: auto; }
  @media (max-width: 991px) {
    .list-wishlist > table {
      width: 991px; } }
  .list-wishlist table tbody > tr:nth-child(odd) {
    background: #ebebeb; }
  .list-wishlist table tbody > tr:nth-child(even) {
    background: #f6f6f6; }
  .list-wishlist tr.new, .list-wishlist tr.active, .list-wishlist tr.show.active {
    background-color: #4880D2 !important; }
  .list-wishlist tr.show {
    background-color: #d9edf7 !important; }

.leo-save-wishlist-loading {
  display: none; }

.list-wishlist tr, .leo-wishlistproduct-item {
  -moz-transition: background-color 1.5s;
  -webkit-transition: background-color 1.5s;
  -o-transition: background-color 1.5s;
  transition: background-color 1.5s; }

.leo-wishlistproduct-item {
  text-align: center;
  margin-bottom: 100px; }
  @media (min-width: 1200px) {
    .leo-wishlistproduct-item:nth-child(4n + 1) {
      clear: both; } }
  @media (max-width: 1199px) and (min-width: 768px) {
    .leo-wishlistproduct-item:nth-child(3n + 1) {
      clear: both; } }
  @media (max-width: 767px) and (min-width: 576px) {
    .leo-wishlistproduct-item:nth-child(2n + 1) {
      clear: both; } }

.wishlist-product-action .leo-wishlist-product-save-button {
  margin-bottom: 10px; }
.wishlist-product-action .leo-wishlist-product-save-button, .wishlist-product-action .leo-wishlist-button-dropdown, .wishlist-product-action .leo-wishlist-button {
  width: 100%; }

.wishlist-product-action .leo-wishlist-button-dropdown {
  position: relative; }
  .wishlist-product-action .leo-wishlist-button-dropdown .leo-list-wishlist {
    top: auto;
    bottom: 100%;
    right: 0;
    font-size: 13px;
    max-height: 125px;
    overflow-y: auto; }
    .rtl .wishlist-product-action .leo-wishlist-button-dropdown .leo-list-wishlist {
      left: 0;
      right: auto; }
  .wishlist-product-action .leo-wishlist-button-dropdown .move-wishlist-item {
    background: #8abf44;
    border-radius: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }

.leo-modal-wishlist .modal-footer {
  display: none; }
.leo-modal-wishlist.enable-action .modal-footer {
  display: block; }

.leo-modal-wishlist-loading {
  display: none; }

.leo-list-wishlist {
  z-index: 999;
  padding: 0px;
  margin: 0px;
  border: none;
  position: absolute;
  bottom: 100%;
  top: auto;
  margin-bottom: 5px;
  max-height: 121px;
  overflow-y: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  right: 0;
  left: auto; }
  .leo-list-wishlist .wishlist-item, .leo-list-wishlist .move-wishlist-item {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    max-width: 10rem;
    text-align: left;
    padding: 12px 20px; }
    .rtl .leo-list-wishlist .wishlist-item, .rtl .leo-list-wishlist .move-wishlist-item {
      text-align: right; }
    .leo-list-wishlist .wishlist-item:nth-child(odd), .leo-list-wishlist .move-wishlist-item:nth-child(odd) {
      background: #ebebeb; }
    .leo-list-wishlist .wishlist-item:nth-child(even), .leo-list-wishlist .move-wishlist-item:nth-child(even) {
      background: #f6f6f6; }
    .leo-list-wishlist .wishlist-item:focus, .leo-list-wishlist .wishlist-item:hover, .leo-list-wishlist .move-wishlist-item:focus, .leo-list-wishlist .move-wishlist-item:hover {
      color: #8abf44; }
      .leo-list-wishlist .wishlist-item:focus:nth-child(odd), .leo-list-wishlist .wishlist-item:hover:nth-child(odd), .leo-list-wishlist .move-wishlist-item:focus:nth-child(odd), .leo-list-wishlist .move-wishlist-item:hover:nth-child(odd) {
        background: #ebebeb; }
      .leo-list-wishlist .wishlist-item:focus:nth-child(even), .leo-list-wishlist .wishlist-item:hover:nth-child(even), .leo-list-wishlist .move-wishlist-item:focus:nth-child(even), .leo-list-wishlist .move-wishlist-item:hover:nth-child(even) {
        background: #f6f6f6; }
    .leo-list-wishlist .wishlist-item.added, .leo-list-wishlist .move-wishlist-item.added {
      color: #8abf44; }
      .leo-list-wishlist .wishlist-item.added:hover, .leo-list-wishlist .move-wishlist-item.added:hover {
        color: #8abf44; }

.rtl .leo-list-wishlist {
  right: auto;
  left: 0; }

.leo-wishlist-button.dropdown-toggle::after {
  display: none; }

.leo-wishlist-button-dropdown {
  display: inline-block;
  width: 100%; }

.wishlist-item .added,
.wishlist-item .added:hover {
  background-color: #2fb5d2;
  color: #fff; }

.wishlist-item:hover,
.move-wishlist-item:hover {
  background-color: #f7f7f9; }

.view-wishlist-product {
  float: left; }
  .rtl .view-wishlist-product {
    float: right; }
  .view-wishlist-product i {
    line-height: 21px;
    margin-right: 5px; }
    .rtl .view-wishlist-product i {
      margin-left: 5px;
      margin-right: inherit; }

.leo-view-wishlist-product-loading {
  display: none;
  float: right; }
  .rtl .leo-view-wishlist-product-loading {
    float: left; }

.leo-wishlist-product {
  margin-bottom: 20px; }
  .leo-wishlist-product .button-container {
    position: relative;
    margin-top: 10px; }
  .leo-wishlist-product .leo-bt-cart {
    width: 100%;
    font-size: 14px;
    background: #333b48; }
    .leo-wishlist-product .leo-bt-cart:hover {
      background: #8abf44; }

.delete-wishlist-product {
  position: absolute;
  top: 0;
  z-index: 9;
  right: 0; }
  .rtl .delete-wishlist-product {
    left: 0;
    right: auto; }
  .delete-wishlist-product .leo-wishlist-button {
    float: right; }
    .rtl .delete-wishlist-product .leo-wishlist-button {
      float: left; }

.send-wishlist {
  display: none;
  margin-bottom: 20px; }

.wishlist-product-info .form-control {
  background: #ebebeb;
  border-radius: 0; }
.wishlist-product-info .form-group label {
  text-align: center; }
.wishlist-product-info label {
  text-align: center; }

.wishlist_email_status_loading {
  border: 2px solid #414141;
  border-left-color: transparent;
  border-right-color: transparent; }

.wishlist_email_status_loading,
.send_wishlist_msg,
.leo-modal-send-wishlist-loading {
  display: none; }

.leo-modal-reset-send-wishlist-bt {
  float: left; }
  .rtl .leo-modal-reset-send-wishlist-bt {
    float: right; }

.send_wishlist_success {
  color: #5cb85c; }

.send_wishlist_error {
  color: #f0ad4e; }

.send_wishlist_form_content .has-success input,
.send_wishlist_form_content .has-warning input {
  pointer-events: none; }

.leo-wishlist-button-delete {
  float: right; }
  .rtl .leo-wishlist-button-delete {
    float: left; }

#mywishlist .btn-primary {
  font-size: 14px;
  background: #333b48; }
  #mywishlist .btn-primary:hover {
    background: #8abf44; }
#mywishlist .footer_links li {
  display: inline-block;
  margin-bottom: 10px; }

.leo-modal-send-wishlist .modal-footer .btn {
  font-size: 14px; }
  @media (min-width: 576px) {
    .leo-modal-send-wishlist .modal-footer .btn {
      float: right; }
      .rtl .leo-modal-send-wishlist .modal-footer .btn {
        float: left; }
      .leo-modal-send-wishlist .modal-footer .btn.leo-modal-send-wishlist-bt {
        margin-right: 10px; }
        .rtl .leo-modal-send-wishlist .modal-footer .btn.leo-modal-send-wishlist-bt {
          margin-left: 10px;
          margin-right: inherit; }
      .leo-modal-send-wishlist .modal-footer .btn.leo-modal-reset-send-wishlist-bt {
        float: left; }
        .rtl .leo-modal-send-wishlist .modal-footer .btn.leo-modal-reset-send-wishlist-bt {
          float: right; } }
  @media (max-width: 575px) {
    .leo-modal-send-wishlist .modal-footer .btn {
      width: 100%;
      margin-bottom: 10px; } }
  .leo-modal-send-wishlist .modal-footer .btn.btn-primary {
    background: #333b48; }
    .leo-modal-send-wishlist .modal-footer .btn.btn-primary:hover {
      background: #8abf44; }

.leo-fake-send-wishlist-button {
  display: none; }

.leo-compare-review-dropdown .btn {
  color: #FFFFFF;
  background-color: #8abf44;
  border-color: #8abf44;
  font-size: 14px; }
  .leo-compare-review-dropdown .btn:hover {
    color: #FFFFFF;
    background-color: #666666;
    border-color: #666666; }
.leo-compare-review-dropdown.open .btn {
  color: #FFFFFF !important;
  background-color: #666666;
  border-color: #666666; }
.leo-compare-review-dropdown.open .dropdown-toggle:after {
  border-bottom: 0;
  border-top: 0.3em solid; }
.leo-compare-review-dropdown .dropdown-menu {
  left: 0;
  right: 0; }
.leo-compare-review-dropdown .dropdown-item {
  white-space: normal;
  padding: 3px 24px !important;
  max-height: 90px;
  overflow: auto;
  text-align: left; }
  .rtl .leo-compare-review-dropdown .dropdown-item {
    text-align: right; }
.leo-compare-review-dropdown .review_title {
  font-size: 14px;
  font-weight: bold; }
.leo-compare-review-dropdown .review_content {
  font-size: 13px; }

/*******************DONGND CSS FOR DROPDOWN CART BEGIN*****************************/
.leo-dropdown-cart {
  position: absolute; }
  .leo-dropdown-cart.defaultcart {
    right: 0;
    margin-top: 40px;
    border-top: 3px #333333 solid; }
    .rtl .leo-dropdown-cart.defaultcart {
      left: 0;
      right: auto; }
  .leo-dropdown-cart.dropdown, .leo-dropdown-cart.dropup {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .leo-dropdown-cart.dropdown.show, .leo-dropdown-cart.dropup.show {
      visibility: visible;
      opacity: 1;
      filter: alpha(opacity=100);
      z-index: 9999;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px); }
  .leo-dropdown-cart.dropdown {
    top: 100%;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px); }
  .leo-dropdown-cart.dropup {
    top: 100%;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  .leo-dropdown-cart.flycart.dropup, .leo-dropdown-cart.flycart.dropdown {
    bottom: 100%;
    margin-bottom: 10px; }

.leo-fly-cart.solo.enable-dropdown.offset-left .leo-dropdown-cart.flycart {
  left: 0; }
.leo-fly-cart.solo.enable-dropdown.offset-right .leo-dropdown-cart.flycart {
  right: 0; }

.leo-dropdown-cart-content {
  background: #fff;
  z-index: 99;
  border: 1px solid #ddd;
  min-width: 290px;
  right: 0; }
  .leo-dropdown-cart-content .leo-dropdown-list-item.active-scrollbar {
    overflow: auto; }
  .leo-dropdown-cart-content a.leo-dropdown-customization, .leo-dropdown-cart-content a.leo-dropdown-combination {
    color: #2fb5d2; }

.leo-dropdown-list-item {
  margin-bottom: 0px; }
  .leo-dropdown-list-item a {
    color: #232323; }

.leo-cart-dropdown-action a.btn {
  color: #FFFFFF;
  width: 100%;
  font-size: 11px;
  margin-bottom: 10px;
  background: #333b48; }
  .leo-cart-dropdown-action a.btn:hover, .leo-cart-dropdown-action a.btn:focus, .leo-cart-dropdown-action a.btn:active:focus {
    background: #8abf44;
    color: #FFFFFF; }

.leo-dropdown-cart-subtotals, .leo-dropdown-cart-total {
  text-align: left; }
  .rtl .leo-dropdown-cart-subtotals, .rtl .leo-dropdown-cart-total {
    text-align: right; }
  .leo-dropdown-cart-subtotals .value, .leo-dropdown-cart-total .value {
    float: right;
    font-weight: 500;
    color: #8abf44;
    text-align: right; }
    .rtl .leo-dropdown-cart-subtotals .value, .rtl .leo-dropdown-cart-total .value {
      float: left; }
    .rtl .leo-dropdown-cart-subtotals .value, .rtl .leo-dropdown-cart-total .value {
      text-align: left; }
  .leo-dropdown-cart-subtotals .label, .leo-dropdown-cart-total .label {
    float: left;
    font-weight: 500;
    text-transform: capitalize;
    text-align: left; }
    .rtl .leo-dropdown-cart-subtotals .label, .rtl .leo-dropdown-cart-total .label {
      float: right; }
    .rtl .leo-dropdown-cart-subtotals .label, .rtl .leo-dropdown-cart-total .label {
      text-align: right; }

.leo-dropdown-cart-subtotals {
  border-bottom: 1px solid #ddd;
  padding: 10px; }
  .leo-dropdown-cart-subtotals > div {
    margin-bottom: 5px; }

.leo-cart-item-img, .leo-cart-item-info {
  float: left; }
  .rtl .leo-cart-item-img, .rtl .leo-cart-item-info {
    float: right; }

.leo-cart-item-img {
  width: 35%;
  margin-right: 5%; }
  .rtl .leo-cart-item-img {
    margin-left: 5%;
    margin-right: inherit; }

.leo-cart-item-info {
  width: 60%;
  text-align: left; }
  .rtl .leo-cart-item-info {
    text-align: right; }
  .leo-cart-item-info .product-name {
    margin-bottom: 5px; }
  .leo-cart-item-info .product-price {
    font-size: 14px !important; }
  .leo-cart-item-info .product-discount .regular-price {
    margin: 0; }
  .leo-cart-item-info .product-discount span {
    display: inline-block; }
  .leo-cart-item-info .discount-percentage {
    font-size: 11px;
    position: relative;
    font-style: italic;
    color: #8abf44;
    padding: 0 4px;
    margin: 0 2px; }
    .leo-cart-item-info .discount-percentage:before {
      content: "(";
      position: absolute;
      left: 0;
      top: 0; }
      .rtl .leo-cart-item-info .discount-percentage:before {
        right: 0;
        left: auto; }
    .leo-cart-item-info .discount-percentage:after {
      content: ")";
      position: absolute;
      right: 0;
      top: 0; }
      .rtl .leo-cart-item-info .discount-percentage:after {
        left: 0;
        right: auto; }
  .leo-cart-item-info .current-price {
    display: inline-block; }

.leo-dropdown-cart-item {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 10px 10px 10px 10px;
  -webkit-transition: background-color 0.5s linear;
  -moz-transition: background-color 0.5s linear;
  -ms-transition: background-color 0.5s linear;
  -o-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear; }
  .leo-dropdown-cart-item .leo-dropdown-additional {
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: #c9def3;
    padding: 0 10px 10px; }
  .leo-dropdown-cart-item.show-additional .leo-dropdown-additional {
    top: 100%;
    z-index: 9999;
    opacity: 1;
    filter: alpha(opacity=100); }

.leo-dropdown-cart-item.high-light, .leo-dropdown-cart-item.show-combination, .leo-dropdown-cart-item.show-customization, .leo-dropdown-cart-item.show-additional {
  background-color: #c9def3;
  z-index: 9999; }

.leo-dropdown-additional .view-customization {
  margin-top: 5px; }
.leo-dropdown-additional .view-combination, .leo-dropdown-additional .view-customization {
  padding-bottom: 5px;
  font-weight: bold;
  text-align: left;
  border-top: 1px solid #fff; }
  .rtl .leo-dropdown-additional .view-combination, .rtl .leo-dropdown-additional .view-customization {
    text-align: right; }

.leo-remove-from-cart {
  position: absolute;
  top: 10px;
  right: 5px; }
  .rtl .leo-remove-from-cart {
    left: 5px;
    right: auto; }

.leo-dropdown-additional, .view-additional {
  clear: both;
  text-align: left; }
  .rtl .leo-dropdown-additional, .rtl .view-additional {
    text-align: right; }

.view-additional {
  position: absolute;
  right: 10px;
  bottom: 29px; }
  .rtl .view-additional {
    left: 10px;
    right: auto; }

.leo-cart-dropdown-action {
  text-align: center;
  padding: 10px; }

#header .header-nav .cart-preview .leo-dropdown-cart-item .view-leo-dropdown-additional:focus {
  color: #232323;
  text-decoration: none;
  outline: none; }

/*****************addition arrow BEGIN***********************/
.view-leo-dropdown-additional {
  width: 25px;
  height: 25px;
  background: #333b48;
  position: relative;
  cursor: pointer; }
  .view-leo-dropdown-additional.show {
    background: #8abf44; }
    .view-leo-dropdown-additional.show:before {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .view-leo-dropdown-additional.show:after {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
  .view-leo-dropdown-additional:before, .view-leo-dropdown-additional:after {
    content: "";
    display: block;
    width: 10px;
    height: 3px;
    background: white;
    position: absolute;
    top: 12px;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s; }
  .view-leo-dropdown-additional:before {
    right: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .view-leo-dropdown-additional:after {
    right: 5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }

/*****************addition arrow END***********************/
.leo-dropdown-overlay {
  display: none;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  z-index: 300; }

/***********loading wheel BEGIN*************/
.leo-dropdown-cssload-speeding-wheel, .leo-fly-cssload-speeding-wheel {
  display: none;
  position: absolute;
  left: 46%;
  top: 40%;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border: 2px solid #2fb5d2;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 800ms infinite linear;
  -o-animation: cssload-spin 800ms infinite linear;
  -ms-animation: cssload-spin 800ms infinite linear;
  -webkit-animation: cssload-spin 800ms infinite linear;
  -moz-animation: cssload-spin 800ms infinite linear; }

.leo-fly-cssload-speeding-wheel {
  left: 0;
  top: 0;
  width: 24px;
  height: 24px; }

.leo-blockcart.cart-preview span.leo-dropdown-cssload-speeding-wheel {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-left-color: transparent;
  border-right-color: transparent;
  vertical-align: middle;
  position: relative;
  left: 0;
  top: 0; }

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }
/************loading piano BEGIN****************/
.cssload-piano {
  display: none !important;
  margin: auto;
  width: 5px;
  height: 8px;
  font-size: 8px;
  position: absolute;
  top: 6px;
  right: 0; }

.cssload-piano > div {
  height: 100%;
  width: 100%;
  display: block;
  margin-bottom: 0.6em;
  animation: stretchdelay 0.88s infinite ease-in-out;
  -o-animation: stretchdelay 0.88s infinite ease-in-out;
  -ms-animation: stretchdelay 0.88s infinite ease-in-out;
  -webkit-animation: stretchdelay 0.88s infinite ease-in-out;
  -moz-animation: stretchdelay 0.88s infinite ease-in-out; }

.cssload-piano .cssload-rect2 {
  animation-delay: -0.65s;
  -o-animation-delay: -0.65s;
  -ms-animation-delay: -0.65s;
  -webkit-animation-delay: -0.65s;
  -moz-animation-delay: -0.65s; }

.cssload-piano .cssload-rect3 {
  animation-delay: -0.42s;
  -o-animation-delay: -0.42s;
  -ms-animation-delay: -0.42s;
  -webkit-animation-delay: -0.42s;
  -moz-animation-delay: -0.42s; }

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleX(0.8);
    background-color: #2e5865;
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.1); }
  20% {
    transform: scaleX(1);
    background-color: white;
    box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4); } }
@-o-keyframes stretchdelay {
  0%, 40%, 100% {
    -o-transform: scaleX(0.8);
    background-color: #2e5865;
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.1); }
  20% {
    -o-transform: scaleX(1);
    background-color: white;
    box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4); } }
@-ms-keyframes stretchdelay {
  0%, 40%, 100% {
    -ms-transform: scaleX(0.8);
    background-color: #2e5865;
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.1); }
  20% {
    -ms-transform: scaleX(1);
    background-color: white;
    box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4); } }
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleX(0.8);
    background-color: #2e5865;
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.1); }
  20% {
    -webkit-transform: scaleX(1);
    background-color: white;
    box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4); } }
@-moz-keyframes stretchdelay {
  0%, 40%, 100% {
    -moz-transform: scaleX(0.8);
    background-color: #2e5865;
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.1); }
  20% {
    -moz-transform: scaleX(1);
    background-color: white;
    box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4); } }
/************loading piano END****************/
/********* notification BEGIN *********/
.leo-notification {
  display: none;
  position: fixed; }
  .leo-notification.active {
    display: block;
    z-index: 99999; }
  .leo-notification .notification-wrapper {
    width: 100%;
    margin-bottom: 5px;
    max-height: 100px; }
    .leo-notification .notification-wrapper.disable {
      max-height: 0;
      margin-bottom: 0;
      -webkit-transition: all 0.7s;
      -moz-transition: all 0.7s;
      -ms-transition: all 0.7s;
      -o-transition: all 0.7s;
      transition: all 0.7s; }

.notification {
  position: relative;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  color: white;
  line-height: 25px;
  cursor: pointer;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(0px, -50px);
  -moz-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  -o-transform: translate(0px, -50px);
  transform: translate(0px, -50px); }
  .notification.show {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    visibility: visible;
    z-index: 99999;
    opacity: 1;
    filter: alpha(opacity=100); }
  .notification.closed {
    -webkit-transform: translate(0px, -50px);
    -moz-transform: translate(0px, -50px);
    -ms-transform: translate(0px, -50px);
    -o-transform: translate(0px, -50px);
    transform: translate(0px, -50px);
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0); }
  .notification .notification-title {
    margin-right: 15px;
    padding: 0px 15px;
    line-height: 30px;
    display: inline-block; }
  .notification .notification-close {
    background: rgba(255, 255, 255, 0.2);
    padding: 0px 10px;
    float: right;
    line-height: 20px;
    display: inline-block;
    color: white;
    position: absolute;
    bottom: 0px;
    right: 0px; }
    .rtl .notification .notification-close {
      float: left; }
    .notification .notification-close:hover {
      cursor: pointer; }

.leo-temp {
  display: none; }

.notification.notification-success {
  background: rgba(46, 204, 113, 0.8); }
  .notification.notification-success .notification-title {
    background: #27ae60; }
.notification.notification-error {
  background: rgba(231, 76, 60, 0.8); }
  .notification.notification-error .notification-title {
    background: #c0392b; }
.notification.notification-warning {
  background: rgba(241, 196, 15, 0.8); }
  .notification.notification-warning .notification-title {
    background: #f39c12; }
.notification.notification-normal {
  background: rgba(52, 152, 219, 0.8); }
  .notification.notification-normal .notification-title {
    background: #2980b9; }
.notification .noti {
  display: none; }
  .notification .noti.active {
    display: block; }

.notification-success .noti-special {
  text-transform: capitalize; }

/********* notification END*********/
.leo-input-product-quantity {
  width: 50px;
  display: inline-block; }

.leo-cart-item-info .leo-bt-product-quantity {
  cursor: pointer;
  display: inline-block;
  border: 1px #eaeaea solid;
  height: 25px;
  vertical-align: top;
  font-size: 14px; }
  .leo-cart-item-info .leo-bt-product-quantity i {
    width: 20px;
    height: 100%;
    vertical-align: top;
    line-height: 25px;
    text-align: center;
    font-size: 13px; }
.leo-cart-item-info .product-quantity {
  font-size: 0; }
  .leo-cart-item-info .product-quantity .input-group {
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0;
    border: 1px #eaeaea solid;
    font-size: 13px;
    border-left: 0;
    border-right: 0;
    display: inline-block;
    outline: 0;
    text-align: center; }

_::-moz-svg-foreign-content,
:root .leo-cart-item-info .input-group {
  margin: 0 -4px; }

#header .leo-cart-item-info a.leo-bt-product-quantity:hover {
  background: #8abf44;
  color: #fff; }
  #header .leo-cart-item-info a.leo-bt-product-quantity:hover i {
    color: #fff; }

.leo-cart-item-info .product-quantity {
  margin-top: 10px; }

/*******************DONGND CSS FOR DROPDOWN CART END*****************************/
/*******************DONGND CSS FOR FLY CART BEGIN*****************************/
.leo-fly-cart-icon-wrapper {
  position: relative;
  padding: 10px; }

.leo-fly-cart-total {
  position: absolute;
  top: -3px;
  left: 29px;
  font-size: 12px;
  color: #fff;
  background: #2fb5d2;
  padding: 0 7px;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  min-width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px; }
  .rtl .leo-fly-cart-total {
    right: 29px;
    left: auto; }

.leo-fly-cart .leo-dropdown-cart-content {
  left: 0; }

/***************CSS FOR LOADING FLY CART BEGIN **********************/
.leo-fly-cart-cssload-loader {
  display: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  position: absolute;
  top: -25%;
  left: -20%;
  box-sizing: border-box;
  text-align: center;
  z-index: 0;
  text-transform: uppercase; }
  .leo-fly-cart-cssload-loader:before, .leo-fly-cart-cssload-loader:after {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: "\0020";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 42px;
    border: 1px solid #2fb5d2;
    box-shadow: 0 0 10px #2fb5d2, inset 0 0 10px #2fb5d2;
    -o-box-shadow: 0 0 10px #2fb5d2, inset 0 0 10px #2fb5d2;
    -ms-box-shadow: 0 0 10px #2fb5d2, inset 0 0 10px #2fb5d2;
    -webkit-box-shadow: 0 0 10px #2fb5d2, inset 0 0 10px #2fb5d2;
    -moz-box-shadow: 0 0 10px #2fb5d2, inset 0 0 10px #2fb5d2; }
  .leo-fly-cart-cssload-loader:after {
    z-index: 1;
    animation: cssload-gogoloader 2.3s infinite 1.15s;
    -o-animation: cssload-gogoloader 2.3s infinite 1.15s;
    -ms-animation: cssload-gogoloader 2.3s infinite 1.15s;
    -webkit-animation: cssload-gogoloader 2.3s infinite 1.15s;
    -moz-animation: cssload-gogoloader 2.3s infinite 1.15s; }
  .leo-fly-cart-cssload-loader:before {
    z-index: 2;
    animation: cssload-gogoloader 2.3s infinite;
    -o-animation: cssload-gogoloader 2.3s infinite;
    -ms-animation: cssload-gogoloader 2.3s infinite;
    -webkit-animation: cssload-gogoloader 2.3s infinite;
    -moz-animation: cssload-gogoloader 2.3s infinite; }

@keyframes cssload-gogoloader {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0); }
  50% {
    opacity: 1;
    filter: alpha(opacity=100); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-o-keyframes cssload-gogoloader {
  0% {
    -o-transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0); }
  50% {
    opacity: 1;
    filter: alpha(opacity=100); }
  100% {
    -o-transform: scale(1);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-ms-keyframes cssload-gogoloader {
  0% {
    -ms-transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0); }
  50% {
    opacity: 1;
    filter: alpha(opacity=100); }
  100% {
    -ms-transform: scale(1);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-webkit-keyframes cssload-gogoloader {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0); }
  50% {
    opacity: 1;
    filter: alpha(opacity=100); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
    filter: alpha(opacity=0); } }
@-moz-keyframes cssload-gogoloader {
  0% {
    -moz-transform: scale(0);
    opacity: 0;
    filter: alpha(opacity=0); }
  50% {
    opacity: 1;
    filter: alpha(opacity=100); }
  100% {
    -moz-transform: scale(1);
    opacity: 0;
    filter: alpha(opacity=0); } }
/***************CSS FOR LOADING FLY CART END **********************/
/***************CSS FOR FLY CART SLIDE BAR BEGIN **********************/
.leo-fly-cart-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: opacity 0.8s, width 0s 0.8s, height 0s 0.8s;
  -webkit-transition: opacity 0.8s, width 0s 0.8s, height 0s 0.8s;
  -moz-transition: opacity 0.8s, width 0s 0.8s, height 0s 0.8s;
  -ms-transition: opacity 0.8s, width 0s 0.8s, height 0s 0.8s;
  -o-transition: opacity 0.8s, width 0s 0.8s, height 0s 0.8s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .rtl .leo-fly-cart-mask {
    right: 0;
    left: auto; }
  .leo-fly-cart-mask.active {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }

body.leoflycart-active-slidebar {
  overflow: hidden;
  padding-right: 17px; }

body.leoflycart-active-push main {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.leo-fly-cart-slidebar .leo-dropdown-cart {
  position: relative;
  margin-right: 0; }
.leo-fly-cart-slidebar .leo-dropdown-cart-content {
  position: relative; }

.leo-fly-cart-slidebar {
  z-index: 99999;
  position: fixed;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  visibility: hidden;
  display: none; }
  .leo-fly-cart-slidebar.slidebar_left {
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  .leo-fly-cart-slidebar.slidebar_right {
    display: block;
    height: 100%;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  .leo-fly-cart-slidebar.slidebar_left.active, .leo-fly-cart-slidebar.slidebar_right.active {
    visibility: visible;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  .leo-fly-cart-slidebar.slidebar_top {
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
    .rtl .leo-fly-cart-slidebar.slidebar_top {
      right: 0;
      left: auto; }
  .leo-fly-cart-slidebar.slidebar_bottom {
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); }
    .rtl .leo-fly-cart-slidebar.slidebar_bottom {
      right: 0;
      left: auto; }
  .leo-fly-cart-slidebar.slidebar_top.active, .leo-fly-cart-slidebar.slidebar_bottom.active {
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

.leo-dropdown-bottom {
  padding-top: 10px; }
  .leo-dropdown-bottom .leo-dropdown-cart-total {
    padding: 10px; }

.leo-fly-cart-slidebar {
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); }
  .leo-fly-cart-slidebar.active-scroll .leo-dropdown-bottom {
    background: #fff;
    position: absolute;
    width: 100%; }
  .leo-fly-cart-slidebar.active-scroll.slidebar_top .leo-dropdown-cart-item.last .view-leo-dropdown-additional, .leo-fly-cart-slidebar.active-scroll.slidebar_bottom .leo-dropdown-cart-item.last .view-leo-dropdown-additional {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }
  .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-cart-item, .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-cart-item {
    display: inline-block;
    border-bottom: none;
    border-right: 1px solid #ddd; }
    .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-cart-item.show-additional .leo-dropdown-additional, .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-cart-item.show-additional .leo-dropdown-additional {
      left: 100%; }
    .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-cart-item.last.show-additional:not(.first) .leo-dropdown-additional, .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-cart-item.last.show-additional:not(.first) .leo-dropdown-additional {
      border-left: none;
      border-right: 1px solid #fff;
      left: -100%; }
  .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-cart-content, .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-cart-content {
    border: none; }
  .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-bottom, .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-bottom {
    float: right;
    padding-top: 0;
    background: #8abf44; }
    .rtl .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-bottom, .rtl .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-bottom {
      float: left; }
    .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-bottom:before, .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-bottom:before {
      content: "";
      background: #8abf44;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 9999px; }
  .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-cart-subtotals .label, .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-cart-subtotals .value,
  .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-cart-total .label,
  .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-cart-total .value, .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-cart-subtotals .label, .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-cart-subtotals .value,
  .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-cart-total .label,
  .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-cart-total .value {
    color: #FFFFFF; }
  .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-total, .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-total {
    float: left; }
    .rtl .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-total, .rtl .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-total {
      float: right; }
  .leo-fly-cart-slidebar.slidebar_top .leo-cart-dropdown-action, .leo-fly-cart-slidebar.slidebar_bottom .leo-cart-dropdown-action {
    float: left;
    padding: 20px 20px 0; }
    .rtl .leo-fly-cart-slidebar.slidebar_top .leo-cart-dropdown-action, .rtl .leo-fly-cart-slidebar.slidebar_bottom .leo-cart-dropdown-action {
      float: right; }
    .leo-fly-cart-slidebar.slidebar_top .leo-cart-dropdown-action .cart-dropdow-button, .leo-fly-cart-slidebar.slidebar_bottom .leo-cart-dropdown-action .cart-dropdow-button {
      display: block;
      margin: 10px 0; }
  .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-list-item, .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-list-item {
    white-space: nowrap;
    list-style: none;
    padding: 5px 0 0;
    margin: 0; }
  .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-list-item-warpper, .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-list-item-warpper {
    float: left; }
    .rtl .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-list-item-warpper, .rtl .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-list-item-warpper {
      float: right; }
    .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-list-item-warpper.active-scrollbar, .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-list-item-warpper.active-scrollbar {
      overflow-x: auto; }
  .leo-fly-cart-slidebar.slidebar_top.active-scroll .leo-dropdown-bottom, .leo-fly-cart-slidebar.slidebar_bottom.active-scroll .leo-dropdown-bottom {
    width: auto;
    top: 0;
    right: 0; }
    .rtl .leo-fly-cart-slidebar.slidebar_top.active-scroll .leo-dropdown-bottom, .rtl .leo-fly-cart-slidebar.slidebar_bottom.active-scroll .leo-dropdown-bottom {
      left: 0;
      right: auto; }
  .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-additional, .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-additional {
    top: 0;
    height: 100%;
    border-left: 1px solid #fff; }
    .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-additional > div.label:first-child, .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-additional > div.label:first-child {
      border-top: none; }
  .leo-fly-cart-slidebar.slidebar_top .view-leo-dropdown-additional, .leo-fly-cart-slidebar.slidebar_bottom .view-leo-dropdown-additional {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }
  .leo-fly-cart-slidebar.slidebar_left .leo-dropdown-cart-content, .leo-fly-cart-slidebar.slidebar_right .leo-dropdown-cart-content {
    border: none; }
  .leo-fly-cart-slidebar .leo-fly-cart {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: -1;
    background: #8abf44;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .leo-fly-cart-slidebar.active .leo-fly-cart {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 99999; }
  .leo-fly-cart-slidebar.slidebar_top .leo-fly-cart {
    top: 50%;
    right: 50%; }
    .rtl .leo-fly-cart-slidebar.slidebar_top .leo-fly-cart {
      left: 50%;
      right: auto; }
  .leo-fly-cart-slidebar.slidebar_top.active .leo-fly-cart {
    top: 100%; }
  .leo-fly-cart-slidebar.slidebar_bottom .leo-fly-cart {
    bottom: 50%;
    left: 0; }
    .rtl .leo-fly-cart-slidebar.slidebar_bottom .leo-fly-cart {
      right: 0;
      left: auto; }
  .leo-fly-cart-slidebar.slidebar_bottom.active .leo-fly-cart {
    bottom: 100%; }
  .leo-fly-cart-slidebar.slidebar_left .leo-fly-cart {
    top: 10px;
    left: 50%; }
  .leo-fly-cart-slidebar.slidebar_left.active .leo-fly-cart {
    left: 100%; }
  .leo-fly-cart-slidebar.slidebar_right .leo-fly-cart {
    top: 10px;
    right: 50%; }
  .leo-fly-cart-slidebar.slidebar_right.active .leo-fly-cart {
    right: 100%; }

.leo-fly-cart-wapper {
  position: relative; }

/***************CSS FOR FLY CART SLIDE BAR END **********************/
/*******************DONGND CSS FOR FLY CART END*****************************/
.product-line-info .value {
  color: #8abf44; }

.leo-fly-cart-slidebar .leo-dropdown-cart-subtotals, .leo-fly-cart-slidebar .leo-dropdown-cart-total {
  padding: 10px 20px; }
.leo-fly-cart-slidebar.slidebar_top .leo-dropdown-cart-item.last, .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-cart-item.last {
  border-right: none; }

.leo-fly-cart-icon-wapper .leo-fly-cart-icon {
  color: #8abf44; }

.leo-fly-cart-slidebar .leo-fly-cart-icon {
  color: #FFFFFF; }

.leo-fly-cart {
  z-index: 99999; }
  .leo-fly-cart .leo-dropdown-cart.dropup {
    bottom: 100%;
    top: auto; }

@media (max-width: 767px) and (min-width: 568px) {
  .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-list-item-warpper.active-scrollbar, .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-list-item-warpper.active-scrollbar {
    width: 50% !important; }
  .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-bottom, .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-bottom {
    position: static;
    width: 50% !important;
    display: block; }
  .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-total, .leo-fly-cart-slidebar.slidebar_bottom .leo-cart-dropdown-action, .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-total, .leo-fly-cart-slidebar.slidebar_top .leo-cart-dropdown-action {
    width: 100%; }
  .leo-fly-cart-slidebar.slidebar_bottom .leo-cart-dropdown-action, .leo-fly-cart-slidebar.slidebar_top .leo-cart-dropdown-action {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin: auto;
    padding-top: 0; }
  .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-cart-content, .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-cart-content {
    margin-bottom: 95px; } }
@media (max-width: 567px) {
  .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-list-item-warpper.active-scrollbar, .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-list-item-warpper.active-scrollbar {
    width: 100% !important;
    float: none !important; }
  .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-bottom, .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-bottom {
    position: static;
    width: 100%;
    float: none !important;
    display: block; }
  .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-total, .leo-fly-cart-slidebar.slidebar_bottom .leo-cart-dropdown-action, .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-total, .leo-fly-cart-slidebar.slidebar_top .leo-cart-dropdown-action {
    width: 100%; } }
@media (max-width: 480px) {
  .leo-fly-cart-slidebar.slidebar_left .leo-dropdown-cart-content, .leo-fly-cart-slidebar.slidebar_right .leo-dropdown-cart-content {
    min-width: 250px; } }
.rtl .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-cart-item.show-additional .leo-dropdown-additional, .rtl .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-cart-item.show-additional .leo-dropdown-additional {
  border-right: 1px solid #fff;
  border-left: none;
  left: auto;
  right: 100%; }
.rtl .leo-dropdown-cart-item .leo-dropdown-additional {
  left: auto;
  right: 0; }
.rtl .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-cart-item, .rtl .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-cart-item {
  border-left: 1px solid #ddd;
  border-right: none; }
  .rtl .leo-fly-cart-slidebar.slidebar_top .leo-dropdown-cart-item.last, .rtl .leo-fly-cart-slidebar.slidebar_bottom .leo-dropdown-cart-item.last {
    border-left: none; }

/*# sourceMappingURL=front.css.map */
