/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/* Home 2 */
#index #wrapper {
  padding-top: 30px; }

.ApSlideShow {
  margin-bottom: 30px; }

.box_services {
  margin: 0 0 70px;
  border-bottom: 1px #e9e9e9 solid; }

/*# sourceMappingURL=profile1510798508.css.map */
