@import url("//fonts.googleapis.com/css?family=Noto+Sans:regular");

h1 { font-family:Noto Sans; font-size:14px; }
h2 { font-family:Noto Sans; font-size:14px; }
h3 { font-family:Noto Sans; font-size:14px; }
h4 { font-family:Noto Sans; font-size:14px; }
h5 { font-family:Noto Sans; font-size:14px; }
h6 { font-family:Noto Sans; font-size:14px; }
p { font-family:Noto Sans; font-size:14px; }
a { font-family:Noto Sans; font-size:14px; }
span { font-family:Noto Sans; font-size:14px; }
