/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/*
*   Owl Carousel Owl Demo Theme 
* v1.3.3
*/
.owl-row {
  margin-left: -15px;
  margin-right: -15px; }

.owl-carousel .owl-item {
  padding: 0 15px; }

/* Styling Next and Prev buttons */
.owl-theme .owl-buttons {
  overflow: hidden; }
  .owl-theme .owl-buttons div {
    width: 30px;
    height: 30px;
    line-height: 24px;
    color: transparent;
    text-align: center;
    background: transparent;
    border: 2px #8abf44 solid;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    top: 35%; }
    .owl-theme .owl-buttons div:before {
      content: "\f105";
      font-family: "FontAwesome";
      color: #8abf44;
      font-size: 16px;
      display: block;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .owl-theme .owl-buttons div.owl-prev {
      left: -15px; }
      .owl-theme .owl-buttons div.owl-prev:before {
        content: "\f104"; }
    .owl-theme .owl-buttons div.owl-next {
      right: -15px; }
    @media (min-width: 992px) {
      .owl-theme .owl-buttons div:hover {
        background: #8abf44;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .owl-theme .owl-buttons div:hover:before {
          color: #FFFFFF; } }

.owl-theme:hover .owl-buttons div {
  opacity: 1;
  filter: alpha(opacity=100); }
  .owl-theme:hover .owl-buttons div.owl-prev {
    left: 0; }
  .owl-theme:hover .owl-buttons div.owl-next {
    right: 0; }

/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  text-decoration: none; }

/* Styling Pagination*/
.owl-theme .owl-controls .owl-pagination {
  margin: 10px 0; }
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */ }
.owl-theme .owl-controls span {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 3px;
  border-radius: 100%;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
  zoom: 1;
  background-color: transparent\9; }

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.2);
  zoom: 1;
  background-color: transparent\9; }

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 30px; }

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(../img/AjaxLoader.gif) no-repeat center center; }

/*# sourceMappingURL=owl.theme.css.map */
