/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
@media (min-width: 992px) {
  .position-static {
    position: static; } }

/* Title Block */
.ApColumn .block, .ApRow .block {
  margin-bottom: 30px; }
.ApColumn .title_block, .ApRow .title_block {
  margin: 0 0 10px;
  font-size: 21px;
  position: relative; }

.ap-popup {
  display: none; }

.bg-fullwidth {
  position: relative; }
  .bg-fullwidth:before {
    content: "";
    padding: 0px 1000px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    height: 100%;
    display: block !important;
    top: 0;
    box-sizing: content-box;
    margin-left: -1000px; }
    .rtl .bg-fullwidth:before {
      margin-right: -1000px;
      margin-left: inherit; }

.block-toggler .title, .footer-container .links .title {
  cursor: pointer; }
  .block-toggler .title .collapse-icons .remove, .footer-container .links .title .collapse-icons .remove {
    display: none; }
.block-toggler .title[aria-expanded="true"] .collapse-icons .add, .footer-container .links .title[aria-expanded="true"] .collapse-icons .add {
  display: none; }
.block-toggler .title[aria-expanded="true"] .collapse-icons .remove, .footer-container .links .title[aria-expanded="true"] .collapse-icons .remove {
  display: block; }
.block-toggler .navbar-toggler, .footer-container .links .navbar-toggler {
  display: block;
  padding: 0;
  margin-top: 0.3125rem;
  width: 1.25rem;
  height: 1.25rem; }
@media (min-width: 768px) {
  .block-toggler.accordion_small_screen .collapse-icons, .footer-container .links.accordion_small_screen .collapse-icons {
    display: none; } }
.block-toggler.accordion_small_screen .collapse, .footer-container .links.accordion_small_screen .collapse {
  display: block; }
  @media (min-width: 768px) {
    .block-toggler.accordion_small_screen .collapse, .footer-container .links.accordion_small_screen .collapse {
      height: 100% !important; } }
  @media (max-width: 767px) {
    .block-toggler.accordion_small_screen .collapse, .footer-container .links.accordion_small_screen .collapse {
      display: none; }
      .block-toggler.accordion_small_screen .collapse.in, .footer-container .links.accordion_small_screen .collapse.in {
        display: block; } }

/* Widget Alert */
.alert {
  text-align: left;
  margin-top: 15px;
  padding-left: 50px;
  position: relative; }
  .rtl .alert {
    text-align: right; }
  .rtl .alert {
    padding-right: 50px;
    padding-left: inherit; }
  .alert:before {
    font-family: "FontAwesome";
    font-size: 1.25rem;
    vertical-align: -2px;
    padding: 0 7px 0 0;
    float: left;
    position: absolute;
    left: 20px;
    top: 11px; }
    .rtl .alert:before {
      padding: 0 0 0 7px; }
    .rtl .alert:before {
      float: right; }
    .rtl .alert:before {
      right: 20px;
      left: auto; }
  .alert.alert-success:before {
    content: "\f00c"; }
  .alert.alert-warning {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1); }
    .alert.alert-warning:before {
      content: "\f071"; }
  .alert.alert-info {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1); }
    .alert.alert-info:before {
      content: "\f05a"; }
  .alert.alert-danger {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1); }
    .alert.alert-danger:before {
      content: "\f00d"; }

/* Css Accordion */
.ap-accordion .in {
  display: block; }
.ap-accordion .panel-group .panel-default .panel-title {
  border-top: 1px solid transparent;
  padding: 0px;
  margin-bottom: 0px;
  font-size: 0.8125rem; }
  .ap-accordion .panel-group .panel-default .panel-title .collapsed {
    display: block;
    font-weight: normal; }
.ap-accordion .panel-default {
  border: 1px solid transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }
  .ap-accordion .panel-default .panel-title {
    text-transform: none;
    background: #f0f0f0;
    position: relative;
    font-weight: normal; }
    .ap-accordion .panel-default .panel-title a:before {
      background: none;
      content: "arrow_drop_up";
      cursor: pointer;
      display: block;
      font-family: "Material Icons";
      font-size: 1.5625rem;
      position: absolute;
      left: auto;
      right: 0px;
      top: 0px;
      width: auto; }
    .ap-accordion .panel-default .panel-title .collapsed:before {
      background: none;
      content: "arrow_drop_down";
      cursor: pointer;
      display: block;
      font-family: "Material Icons";
      font-size: 1.5625rem;
      position: absolute;
      left: auto;
      right: 0px;
      top: 0px;
      width: auto; }
  .ap-accordion .panel-default .panel-heading {
    background: #f0f0f0;
    border: 1px solid #f0f0f0; }
  .ap-accordion .panel-default > .panel-heading + .panel-collapse .panel-body {
    border: 1px solid #f0f0f0; }

/* Widget Tab */
.tabs-below .nav-tabs,
.tabs-right .nav-tabs,
.tabs-left .nav-tabs {
  border-bottom: 0px; }

.tab-content .tab-pane, .tab-content .pill-pane, .pill-content .tab-pane, .pill-content .pill-pane {
  display: none; }
.tab-content .active, .pill-content .active {
  display: block; }

.tabs-below .nav-tabs {
  border-top: 1px solid #eaeaea; }
  .tabs-below .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0; }
    .tabs-below .nav-tabs > li > a {
      -moz-border-radius: 0px 0px 4px 4px;
      -webkit-border-radius: 0px 0px 4px 4px;
      border-radius: 0px 0px 4px 4px; }
      .rtl .tabs-below .nav-tabs > li > a {
        -moz-border-radius: 0px 0px 4px 4px;
        -webkit-border-radius: 0px 0px 4px 4px;
        border-radius: 0px 0px 4px 4px; }
      .tabs-below .nav-tabs > li > a:hover, .tabs-below .nav-tabs > li > a:focus {
        border-top-color: #eaeaea;
        border-bottom-color: transparent; }
  .tabs-below .nav-tabs > .active a, .tabs-below .nav-tabs > .active a:hover, .tabs-below .nav-tabs > .active a:focus {
    border-color: transparent #eaeaea #eaeaea #eaeaea; }

.tabs-left .nav-tabs > li, .tabs-right .nav-tabs > li {
  float: none; }
  .tabs-left .nav-tabs > li > a, .tabs-right .nav-tabs > li > a {
    min-width: 74px;
    margin-bottom: 3px;
    margin-right: 0; }
    .rtl .tabs-left .nav-tabs > li > a, .rtl .tabs-right .nav-tabs > li > a {
      margin-left: 0;
      margin-right: inherit; }

.tabs-left .nav-tabs {
  float: left;
  border-right: 1px solid #eaeaea; }
  .rtl .tabs-left .nav-tabs {
    float: right; }
  .rtl .tabs-left .nav-tabs {
    border-left: 1px solid #eaeaea;
    border-right: inherit; }
  .tabs-left .nav-tabs > li > a {
    margin-right: -1px;
    -moz-border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px; }
    .rtl .tabs-left .nav-tabs > li > a {
      margin-left: -1px;
      margin-right: inherit; }
    .rtl .tabs-left .nav-tabs > li > a {
      -moz-border-radius: 0px 4px 4px 0px;
      -webkit-border-radius: 0px 4px 4px 0px;
      border-radius: 0px 4px 4px 0px; }
    .tabs-left .nav-tabs > li > a:hover, .tabs-left .nav-tabs > li > a:focus {
      border-color: #eeeeee #eaeaea #eeeeee #eeeeee; }
  .tabs-left .nav-tabs .active > a, .tabs-left .nav-tabs .active > a:hover, .tabs-left .nav-tabs .active > a:focus {
    border-color: #eaeaea transparent #eaeaea #eaeaea;
    *border-right-color: #FFFFFF; }

.tabs-right .nav-tabs {
  float: right;
  border-left: 1px solid #eaeaea; }
  .rtl .tabs-right .nav-tabs {
    float: left; }
  .rtl .tabs-right .nav-tabs {
    border-right: 1px solid #eaeaea;
    border-left: inherit; }
  .tabs-right .nav-tabs > li > a {
    margin-left: -1px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    border-radius: 0px 4px 4px 0px; }
    .rtl .tabs-right .nav-tabs > li > a {
      margin-right: -1px;
      margin-left: inherit; }
    .rtl .tabs-right .nav-tabs > li > a {
      -moz-border-radius: 4px 0px 0px 4px;
      -webkit-border-radius: 4px 0px 0px 4px;
      border-radius: 4px 0px 0px 4px; }
    .tabs-right .nav-tabs > li > a:hover, .tabs-right .nav-tabs > li > a:focus {
      border-color: #eeeeee #eeeeee #eeeeee #eaeaea; }
  .tabs-right .nav-tabs .active > a, .tabs-right .nav-tabs .active a:hover, .tabs-right .nav-tabs .active a:focus {
    border-color: #eaeaea #eaeaea #eaeaea transparent;
    *border-left-color: #ffffff; }

.widget-tabs li {
  padding: 5px 8px;
  border: 1px solid transparent;
  text-transform: uppercase; }
  .widget-tabs li a {
    color: #272727; }
  .widget-tabs li.active {
    border: 1px solid #8abf44; }
    .widget-tabs li.active a {
      color: #8abf44; }

.block .nav-pills > li.active > a {
  position: relative; }
  .block .nav-pills > li.active > a:before {
    content: "\f0d7";
    position: absolute;
    bottom: -7px;
    height: 0.625rem;
    line-height: 0.625rem;
    font-family: "FontAwesome";
    color: #8abf44;
    font-size: 1.1875rem;
    z-index: 9;
    right: 50%;
    margin-right: -4px; }
    .rtl .block .nav-pills > li.active > a:before {
      left: 50%;
      right: auto; }
    .rtl .block .nav-pills > li.active > a:before {
      margin-left: -4px;
      margin-right: inherit; }
.block .panel-group {
  margin-bottom: 0; }

.nav-tabs {
  border-bottom: 1px solid transparent;
  padding-bottom: 1.25rem; }
  .nav-tabs > li > a {
    font-weight: 800;
    color: #767676;
    border-bottom: 2px solid transparent;
    text-transform: uppercase; }
  .nav-tabs > li.active a, .nav-tabs > li.active a:hover, .nav-tabs > li.active a:focus {
    border: 1px solid transparent;
    background: #eeeeee;
    border-bottom: 2px solid #c0c700;
    color: #000000; }

/**
* Start for module ap_gmap
*/
div[id^="google-maps"] {
  position: relative; }

div[id^="gmap-stores-list"] {
  overflow: auto !important; }

div[id^="gmap-stores-list"] > ul {
  margin: 30px; }

.display-list-store {
  background-color: #6cabd5;
  float: left; }
  .rtl .display-list-store {
    float: right; }

.gmap-stores-content, .gmap-content {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative; }

.not-display-list-store .gmap-stores-content, .not-display-list-store .gmap-content {
  width: 100%; }

.gmap-cover {
  width: 100%; }

.item-gmap-store {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.625rem 0.9375rem;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
  .item-gmap-store:hover {
    color: #000000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .item-gmap-store .icon-map-marker {
    margin-right: 6px;
    font-size: 120%; }
    .rtl .item-gmap-store .icon-map-marker {
      margin-left: 6px;
      margin-right: inherit; }
  .item-gmap-store text {
    font-size: 85%; }

/**
* End for module ap_gmap
*/
/**
* Start for module ap_product_list
*/
.box-show-more a {
  background: #282d35;
  clear: both;
  text-align: center;
  width: 100%;
  height: 3.4375rem;
  line-height: 3.4375rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 0 15px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: none;
  font-size: 0.875rem;
  color: #FFFFFF;
  font-weight: 700; }
  .box-show-more a:hover {
    background-color: #8abf44; }
  .box-show-more a .fa {
    margin-left: 0.3125rem; }
    .rtl .box-show-more a .fa {
      margin-right: 0.3125rem;
      margin-left: inherit; }
.box-show-more.open a {
  display: block; }

/**
* End for module ap_product_list
*/
/**
* Start for module ap_image
*/
.ap_image .has-animation {
  opacity: 0;
  filter: alpha(opacity=0); }
  .ap_image .has-animation.animated {
    opacity: 1;
    filter: alpha(opacity=100); }

/**
* End for module ap_image
*/
/**
* End for module ApFullSlider
*/
.full-slider .carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent; }
  .full-slider .carousel-inner .item {
    width: 100%;
    height: 100%; }
.full-slider .content-slider {
  position: absolute;
  top: 35%;
  color: #FFFFFF;
  left: 0;
  right: 0;
  text-align: center; }
  .full-slider .content-slider h3 {
    font-size: 3.75rem;
    text-transform: uppercase;
    font-weight: 600; }
  .full-slider .content-slider p {
    margin-top: 1.875rem;
    background: #c70005;
    padding: 0.625rem 1.25rem;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem; }
.full-slider .carousel-control {
  top: 50%;
  width: 40px;
  height: 40px;
  background-color: #121212;
  background-color: rgba(18, 18, 18, 0.52);
  zoom: 1;
  background-color: transparent\9; }
  .full-slider .carousel-control.left {
    left: 0.625rem; }
    .rtl .full-slider .carousel-control.left {
      right: 0.625rem;
      left: auto; }
  .full-slider .carousel-control.right {
    right: 0.625rem; }
    .rtl .full-slider .carousel-control.right {
      left: 0.625rem;
      right: auto; }

/**
* Widget Video
*/
.embed-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }
  .embed-responsive iframe, .embed-responsive object, .embed-responsive embed {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0px; }
    .rtl .embed-responsive iframe, .rtl .embed-responsive object, .rtl .embed-responsive embed {
      right: 0px;
      left: auto; }

/**
* Start for module ApFullSlider
*/
.cover-live-edit {
  width: 100%;
  border-top: 1px solid #eaeaea; }
  .cover-live-edit .link-to-back-end {
    text-decoration: none;
    color: #FFFFFF;
    z-index: 9999;
    background-color: rgba(204, 153, 0, 0.5);
    padding: 5px;
    position: relative;
    -moz-box-shadow: 0 0 5px #bdbdbd;
    -webkit-box-shadow: 0 0 5px #bdbdbd;
    -o-box-shadow: 0 0 5px #bdbdbd;
    -ms-box-shadow: 0 0 5px #bdbdbd;
    box-shadow: 0 0 5px #bdbdbd;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    .cover-live-edit .link-to-back-end:hover {
      background-color: #00e676;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }

.ap-cover-hook {
  border: 1px solid #eaeaea;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .ap-cover-hook:hover {
    border: 1px dashed #8abf44;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

/**
* End for module ApFullSlider
*/
/*
  Widget Manufacturers
  */
.ApColumn .manufacturers_block {
  margin-bottom: 15px;
  margin-top: 15px; }

.manufacturers_block {
  text-align: center; }
  .manufacturers_block img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    .manufacturers_block img:hover {
      opacity: 1;
      filter: alpha(opacity=100); }

/*
  Widget Category Image
  */
.widget-category_image .cover-img {
  float: left;
  padding-right: 1.25rem; }
  .rtl .widget-category_image .cover-img {
    float: right; }
  .rtl .widget-category_image .cover-img {
    padding-left: 1.25rem;
    padding-right: inherit; }
  .widget-category_image .cover-img img {
    width: 100px;
    height: 100px; }
.widget-category_image .cate_content:hover label {
  color: #3276b1;
  cursor: pointer; }

/* Widget Lastest blogs */
.latest-blogs .block_content {
  padding: 20px 20px 10px;
  border: 1px #e9e9e9 solid; }
.latest-blogs .right-block {
  text-align: left; }
  .rtl .latest-blogs .right-block {
    text-align: right; }
.latest-blogs .blog-image-container {
  position: relative;
  margin-bottom: 0.9375rem; }
.latest-blogs .blog-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  font-family: "Noto Sans", sans-serif;
  margin-top: 15px; }
  .latest-blogs .blog-title a {
    color: #8abf44; }
.latest-blogs .blog-desc {
  padding-top: 0.9375rem;
  text-align: justify;
  line-height: 25px; }
.latest-blogs .blog-viewall {
  float: none !important; }
.latest-blogs .created {
  padding-right: 20px;
  position: relative; }
  .rtl .latest-blogs .created {
    padding-left: 20px;
    padding-right: inherit; }
  .latest-blogs .created:before {
    content: "";
    position: absolute;
    top: 8px;
    right: 9px;
    width: 4px;
    height: 4px;
    background: #c4dce8;
    border-radius: 50%; }
    .rtl .latest-blogs .created:before {
      left: 9px;
      right: auto; }

/* Multi Image Product List */
.leo-more-info {
  background-color: #FFFFFF;
  position: absolute;
  z-index: 4000;
  top: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  right: 0px;
  float: left;
  text-align: left;
  padding: 0.3125rem 0.3125rem 0.625rem 0.3125rem;
  -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  opacity: 0;
  filter: alpha(opacity=0); }
  .rtl .leo-more-info {
    left: 0px;
    right: auto; }
  .rtl .leo-more-info {
    float: right; }
  .rtl .leo-more-info {
    text-align: right; }
  .rtl .leo-more-info {
    padding: 0.3125rem 0.3125rem 0.625rem 0.3125rem; }
  .leo-more-info .thumbs_list {
    overflow: hidden;
    margin-top: 0.875rem;
    margin-bottom: 1.25rem;
    float: left;
    width: 80px;
    height: 300px; }
    .rtl .leo-more-info .thumbs_list {
      float: right; }
    .leo-more-info .thumbs_list ul.thumbs_list_frame {
      list-style-type: none;
      padding-left: 0; }
      .rtl .leo-more-info .thumbs_list ul.thumbs_list_frame {
        padding-right: 0;
        padding-left: inherit; }
    .leo-more-info .thumbs_list li {
      cursor: pointer;
      float: left;
      width: 84px;
      height: 100px; }
      .rtl .leo-more-info .thumbs_list li {
        float: right; }
      .leo-more-info .thumbs_list li a {
        display: block;
        margin: 0 1px 2px;
        text-align: center; }
  .leo-more-info .view_scroll_left,
  .leo-more-info .view_scroll_right {
    position: absolute;
    width: 0.9375rem;
    margin: auto;
    left: 0px;
    right: 0px; }
  .leo-more-info .view_scroll_right {
    bottom: 0px;
    margin-bottom: 0.3125rem; }
  .leo-more-info .view_scroll_left {
    margin-top: 0.3125rem; }

.leo-more-over {
  position: relative;
  z-index: 0; }

.leo-more-image {
  top: 0;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  left: 0; }
  .rtl .leo-more-image {
    right: 0;
    left: auto; }

/* Instagram Block */
.instagram-block .owl-item {
  padding-left: 0.3125rem;
  padding-right: 0.3125rem; }
.instagram-block a {
  display: inline-block;
  overflow: hidden;
  position: relative; }
  .instagram-block a img {
    width: 118px;
    max-width: 100%; }
.instagram-block .link-instagram {
  display: none; }
  .instagram-block .link-instagram a {
    margin: 0.625rem 0 0; }

#instafeed {
  margin: -0.3125rem; }

.box_services {
  padding-top: 30px; }
  @media (max-width: 991px) {
    .box_services {
      text-align: center; } }
  .box_services .icon-box {
    color: #999999;
    font-size: 18px;
    width: 50px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    border: 1px #8abf44 solid;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    @media (min-width: 992px) {
      .box_services .icon-box {
        float: left;
        margin-right: 10px; }
        .rtl .box_services .icon-box {
          float: right; }
        .rtl .box_services .icon-box {
          margin-left: 10px;
          margin-right: inherit; } }
    @media (max-width: 991px) {
      .box_services .icon-box {
        margin: auto; } }
  @media (min-width: 992px) {
    .box_services .media-body {
      text-align: left; }
      .rtl .box_services .media-body {
        text-align: right; } }
  .box_services .media-body p {
    margin: 0; }
  .box_services h4 {
    margin-bottom: 3px;
    margin-top: 5px; }
    .box_services h4 a {
      font-family: "Noto Sans", sans-serif;
      color: #333333;
      font-size: 14px;
      text-transform: uppercase;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      font-weight: 700; }
  .box_services .media:hover .icon-box {
    background: #8abf44;
    color: #FFFFFF; }
  .box_services .media:hover h4 a {
    color: #8abf44; }

.ap-btn-wishlist-nav {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px #fc9191 solid;
  text-align: center;
  line-height: 36px;
  color: #fc9191;
  display: inline-block;
  position: relative;
  margin: 50px 40px 0 0;
  float: right;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }
  .rtl .ap-btn-wishlist-nav {
    margin: 50px 0 0 40px; }
  .rtl .ap-btn-wishlist-nav {
    float: left; }
  .ap-btn-wishlist-nav i {
    font-size: 13px; }
  .ap-btn-wishlist-nav .ap-total-wishlist {
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    background: #fc9191;
    color: #FFFFFF;
    font-weight: 700;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    right: -10px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    .rtl .ap-btn-wishlist-nav .ap-total-wishlist {
      left: -10px;
      right: auto; }
  .ap-btn-wishlist-nav:hover {
    border-color: #8abf44;
    color: #8abf44; }
    .ap-btn-wishlist-nav:hover .ap-total-wishlist {
      background: #8abf44; }

@media (min-width: 992px) {
  .slide-nopadding {
    padding: 0; }
    .slide-nopadding .ApSlideShow {
      margin: 0 -15px; } }

.ApColumn .image-nomargin {
  margin: 0; }

.newsletter-bg:before {
  content: "";
  padding: 0 1000px 0 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  display: block !important;
  top: 0;
  background: #31731F;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-left: -1000px; }
  .rtl .newsletter-bg:before {
    margin-right: -1000px;
    margin-left: inherit; }

.border-top {
  position: relative; }
  .border-top:before {
    content: "";
    padding: 0px 1000px;
    width: 100%;
    height: 1px;
    overflow: hidden;
    position: absolute;
    display: block !important;
    top: 0;
    background: #3A8C23;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-left: -1000px; }
    .rtl .border-top:before {
      margin-right: -1000px;
      margin-left: inherit; }

@media (min-width: 768px) {
  .border-right {
    border-right: 1px #e9e9e9 solid; }
    .rtl .border-right {
      border-left: 1px #e9e9e9 solid;
      border-right: inherit; } }

@media (max-width: 767px) {
  .padding-group {
    padding-top: 30px;
    padding-bottom: 30px; } }
@media (min-width: 768px) {
  .padding-group .ApColumn {
    padding-top: 50px;
    padding-bottom: 30px; } }

@media (min-width: 992px) {
  .ApProductTag {
    margin-left: 15px; }
    .rtl .ApProductTag {
      margin-right: 15px;
      margin-left: inherit; } }
.ApProductTag .block_content {
  margin-top: 15px; }
  .ApProductTag .block_content li {
    font-size: 11px;
    text-transform: uppercase;
    background: #f3f3f3;
    font-family: "Lato",sans-serif;
    margin-right: 2px;
    padding: 3px 10px;
    border-radius: 4px;
    display: inline-block;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 24px; }
    .ApProductTag .block_content li a {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .ApProductTag .block_content li:hover {
      background: #8abf44; }
      .ApProductTag .block_content li:hover a {
        color: #FFFFFF; }

.group-img-border {
  margin: 0 0 50px 0 !important;
  border: 1px #e9e9e9 solid; }
  .group-img-border .left {
    padding: 20px 15px 20px 30px; }
    .rtl .group-img-border .left {
      padding: 20px 30px 20px 15px; }
  .group-img-border .right {
    padding: 20px 30px 20px 15px; }
    .rtl .group-img-border .right {
      padding: 20px 15px 20px 30px; }
  @media (max-width: 575px) {
    .group-img-border .left, .group-img-border .right {
      padding: 15px 15px 15px 15px; }
      .rtl .group-img-border .left, .rtl .group-img-border .right {
        padding: 15px 15px 15px 15px; } }
  .group-img-border .ApImage {
    margin-bottom: 0 !important; }

.widget-twitter .block_content {
  height: 425px !important;
  overflow-y: scroll;
  border: 1px #e9e9e9 solid; }
.widget-twitter iframe {
  width: 100% !important; }

@media (min-width: 992px) {
  .grp-vegetable {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding-top: 55px;
    position: relative; }
    .grp-vegetable > .title_block {
      position: absolute;
      top: 0;
      left: 0; }
      .rtl .grp-vegetable > .title_block {
        right: 0;
        left: auto; }
    .grp-vegetable .left, .grp-vegetable .right {
      padding: 0; } }
.grp-vegetable .carousel-inner {
  padding: 0.5px; }
@media (max-width: 991px) {
  .grp-vegetable > .title_block {
    padding-left: 15px; }
    .rtl .grp-vegetable > .title_block {
      padding-right: 15px;
      padding-left: inherit; } }

.small-title .title_block {
  font-size: 28px;
  color: #333333;
  padding: 25px 20px 0;
  margin-bottom: 5px; }
  @media (max-width: 991px) {
    .small-title .title_block {
      padding: 25px 0 0; } }

@media (min-width: 992px) {
  .grp-meat {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding-top: 55px;
    position: relative; }
    .grp-meat > .title_block {
      position: absolute;
      top: 0;
      left: 0; }
      .rtl .grp-meat > .title_block {
        right: 0;
        left: auto; }
    .grp-meat .left, .grp-meat .right {
      padding: 0; }
    .grp-meat .right {
      border: 1px #e9e9e9 solid; }
    .grp-meat .ApProductCarousel {
      margin-bottom: 0 !important; } }
@media (max-width: 991px) {
  .grp-meat > .title_block {
    padding-left: 15px; }
    .rtl .grp-meat > .title_block {
      padding-right: 15px;
      padding-left: inherit; }
  .grp-meat .ApImage a {
    display: block; }
    .grp-meat .ApImage a img {
      width: 100% !important; } }

@media (min-width: 992px) {
  .grp-fruit {
    margin: 0; }
    .grp-fruit .left, .grp-fruit .center, .grp-fruit .right {
      padding: 0; } }
@media (max-width: 991px) {
  .grp-fruit > .title_block {
    padding-left: 15px; }
    .rtl .grp-fruit > .title_block {
      padding-right: 15px;
      padding-left: inherit; } }

@media (max-width: 991px) {
  .ApImage {
    text-align: center; } }

.tabs-top {
  position: relative; }
  .tabs-top .block_content {
    text-align: right; }
    .rtl .tabs-top .block_content {
      text-align: left; }
  .tabs-top .nav-tabs {
    border: none; }
    @media (min-width: 768px) {
      .tabs-top .nav-tabs {
        display: inline-block;
        padding: 0;
        position: absolute;
        right: 15px;
        top: 10px; }
        .rtl .tabs-top .nav-tabs {
          left: 15px;
          right: auto; } }
    @media (max-width: 767px) {
      .tabs-top .nav-tabs {
        text-align: center; } }
    .tabs-top .nav-tabs .nav-link {
      color: #5f7b89;
      background: transparent;
      border: none;
      font-size: 14px;
      padding: 9px 0;
      margin: 0 0 0 20px;
      position: relative;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -ms-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      font-weight: normal;
      text-transform: capitalize; }
      .rtl .tabs-top .nav-tabs .nav-link {
        margin: 0 20px 0 0; }
      .tabs-top .nav-tabs .nav-link.active, .tabs-top .nav-tabs .nav-link:hover {
        background: transparent;
        border: none;
        color: #8abf44; }
        .tabs-top .nav-tabs .nav-link.active:hover, .tabs-top .nav-tabs .nav-link.active:focus, .tabs-top .nav-tabs .nav-link:hover:hover, .tabs-top .nav-tabs .nav-link:hover:focus {
          background: transparent;
          border: none; }
    @media (max-width: 767px) {
      .tabs-top .nav-tabs .nav-item {
        float: none !important; } }

@media (min-width: 992px) {
  .nopadding_left {
    padding: 0 15px 0 0; }
    .rtl .nopadding_left {
      padding: 0 0 0 15px; }

  .nopadding_right {
    padding: 0 0 0 15px; }
    .rtl .nopadding_right {
      padding: 0 15px 0 0; } }
@media (max-width: 991px) {
  .img-html {
    text-align: center; }
    .img-html .block_content {
      width: 100%; } }
@media (min-width: 481px) {
  .img-html {
    display: box;
    display: -webkit-box;
    display: -moz-box; }
    .img-html .banner-left {
      width: 55.5%; }
    .img-html .banner-right {
      width: 44.5%; } }
@media (max-width: 480px) {
  .img-html {
    display: inline-block; }
    .img-html a {
      width: 100%; } }
.img-html img {
  margin: auto;
  width: 100%; }
  @media (max-width: 480px) {
    .img-html img {
      margin: 0 auto 30px; } }

@media (min-width: 992px) {
  .ApColumn .block.margin-bottom-65 {
    margin-bottom: 65px; } }

.menu-hk-home .ApMegamenu {
  margin-bottom: 30px; }
@media (min-width: 992px) {
  .menu-hk-home .leo-verticalmenu.popup-menu .box-content {
    position: static;
    visibility: visible;
    opacity: 1; }
  .menu-hk-home .leo-verticalmenu .title_block:after {
    display: none; } }

.support-number {
  margin: 0 !important;
  height: 50px;
  background: #333333;
  padding: 5px 0 0 30px; }
  .rtl .support-number {
    padding: 5px 30px 0 0; }
  .support-number span {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    color: #8abf44;
    margin-bottom: 4px; }
  .support-number a {
    color: #FFFFFF; }
    .support-number a:hover {
      color: #8abf44; }

/*# sourceMappingURL=styles.css.map */
