/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
.blogs-container .category-image img {
  padding-right: 0.625rem;
  margin-bottom: 1.25rem; }
  .rtl .blogs-container .category-image img {
    padding-left: 0.625rem;
    padding-right: inherit; }
  @media (max-width: 990px) {
    .blogs-container .category-image img {
      padding-right: 0; }
      .rtl .blogs-container .category-image img {
        padding-left: 0;
        padding-right: inherit; } }
.blogs-container .product-count {
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center; }
.blogs-container .pagination .material-icons {
  font-size: 0.9375rem; }
.blogs-container .blog-image img {
  max-width: 100%; }

.blog-lastest-title {
  font-size: 41px; }

.leading-blog .blog-item {
  border-bottom: 1px #e9e9e9 solid; }

/* Blog Item */
.blog-item {
  padding: 1.875rem 0; }
  .blog-item .blog-image-container {
    position: relative; }
  .blog-item .title {
    margin-bottom: 0.9375rem;
    font-weight: 500; }
    .blog-item .title a {
      line-height: 1.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-size: 30px;
      color: #8abf44;
      line-height: 35px; }
  .blog-item .blog-image {
    margin-bottom: 0.625rem; }
  .blog-item .blog-meta {
    position: absolute;
    min-height: 36px;
    overflow: hidden;
    padding: 0.625rem;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); }
    @media (max-width: 668px) {
      .blog-item .blog-meta {
        line-height: 40px;
        padding: 0.3125rem 0.625rem; } }
    .blog-item .blog-meta > span {
      color: #FFFFFF;
      font-size: 0.6875rem;
      margin-top: 0.3125rem;
      margin-right: 0.625rem;
      float: left; }
      .rtl .blog-item .blog-meta > span {
        margin-left: 0.625rem;
        margin-right: inherit; }
      .rtl .blog-item .blog-meta > span {
        float: right; }
      .blog-item .blog-meta > span .material-icons {
        font-size: 1rem; }
    .blog-item .blog-meta a {
      color: #FFFFFF; }
      .blog-item .blog-meta a:hover {
        color: #8abf44; }
  .blog-item .blog-shortinfo {
    margin-bottom: 1.25rem;
    font-size: 14px;
    line-height: 26px;
    color: #5f7b89; }
  .blog-item .more {
    background: #333b48;
    text-transform: none;
    font-size: 14px;
    font-weight: normal; }
    .blog-item .more:hover {
      background: #8abf44; }

/* Blog detail */
.blog-detail {
  line-height: 24px; }
  .blog-detail .blog-title {
    font-size: 1.375rem; }
  .blog-detail .blog-description {
    font-size: 16px;
    line-height: 26px; }
  .blog-detail .product-count {
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center; }
  .blog-detail .blog-meta {
    margin-bottom: 0.625rem;
    display: inline-block; }
    .blog-detail .blog-meta > span {
      color: #666666;
      margin-right: 0.625rem;
      float: left; }
      .rtl .blog-detail .blog-meta > span {
        margin-left: 0.625rem;
        margin-right: inherit; }
      .rtl .blog-detail .blog-meta > span {
        float: right; }
      .blog-detail .blog-meta > span .material-icons {
        font-size: 15px; }
  .blog-detail .blog-image {
    text-align: center;
    margin-bottom: 20px; }
    .blog-detail .blog-image img {
      width: 100%; }
  .blog-detail .blog-tags, .blog-detail .social-share {
    display: inline-block; }

.blog-tags, .extra-blogs,
.blog-comments, .social-share,
.blog-comment-block {
  margin-bottom: 1.25rem; }

.blog-tags {
  float: right; }
  .rtl .blog-tags {
    float: left; }
  .blog-tags a {
    display: inline-block;
    margin-bottom: 5px; }
    .blog-tags a span {
      background: #a6a6a6;
      color: #FFFFFF;
      line-height: 1;
      padding: 0.3125rem 0.625rem;
      display: inline-block;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px; }
    .blog-tags a:hover span {
      background: #8abf44; }

.extra-blogs ul li {
  padding: 6px 0;
  border-bottom: dotted 1px #eaeaea; }

.blog-video-code .inner {
  background: #DDD;
  padding: 12px;
  margin-bottom: 15px;
  text-align: center; }
@media (max-width: 991px) {
  .blog-video-code iframe {
    width: 100% !important; } }

/* comment */
.comment-item {
  padding: 12px 0; }
  .comment-item img {
    padding: 0 12px 0 0;
    float: left; }
    .rtl .comment-item img {
      padding: 0 0 0 12px; }
    .rtl .comment-item img {
      float: right; }

.extra-blogs {
  clear: both; }

.comment-wrap {
  overflow: hidden;
  background: #FFFFFF;
  border: 1px solid #eaeaea;
  padding: 1.25rem;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s; }
  .comment-wrap .comment-meta {
    border-bottom: 1px solid #eaeaea;
    font-size: 0.75rem;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center; }
    .comment-wrap .comment-meta .comment-infor {
      float: left;
      position: relative; }
      .rtl .comment-wrap .comment-meta .comment-infor {
        float: right; }
  .comment-wrap .comment-infor > span {
    font-weight: bold;
    margin-right: 5px; }
    .rtl .comment-wrap .comment-infor > span {
      margin-left: 5px;
      margin-right: inherit; }
    @media (max-width: 767px) {
      .comment-wrap .comment-infor > span {
        display: block; } }
    .comment-wrap .comment-infor > span > span {
      font-weight: normal;
      white-space: inherit; }

.comment-link {
  display: block;
  position: relative; }
  .comment-link a {
    white-space: nowrap; }
  @media (min-width: 768px) {
    .comment-link {
      background: #F4F4F4;
      font-weight: bold;
      padding: 0.625rem 1.25rem;
      border-left: 1px solid #E5E5E5;
      float: right; }
      .rtl .comment-link {
        border-right: 1px solid #E5E5E5;
        border-left: inherit; }
      .rtl .comment-link {
        float: left; } }

.social-share .social-wrap .itemTwitterButton, .social-share .social-wrap .itemFacebookButton, .social-share .social-wrap .itemGooglePlusOneButton {
  float: left;
  margin-right: 0.625rem; }
  .rtl .social-share .social-wrap .itemTwitterButton, .rtl .social-share .social-wrap .itemFacebookButton, .rtl .social-share .social-wrap .itemGooglePlusOneButton {
    float: right; }
  .rtl .social-share .social-wrap .itemTwitterButton, .rtl .social-share .social-wrap .itemFacebookButton, .rtl .social-share .social-wrap .itemGooglePlusOneButton {
    margin-left: 0.625rem;
    margin-right: inherit; }
.social-share .social-wrap .itemFacebookButton {
  max-width: 50px;
  overflow: hidden;
  direction: ltr !important; }
  .social-share .social-wrap .itemFacebookButton .fb_iframe_widget iframe {
    left: 0;
    top: 0; }
    .rtl .social-share .social-wrap .itemFacebookButton .fb_iframe_widget iframe {
      right: 0;
      left: auto; }
.social-share .social-wrap .itemGooglePlusOneButton {
  max-width: 40px;
  overflow: hidden;
  direction: ltr !important; }
.social-share .social-heading {
  padding-right: 12px; }
  .rtl .social-share .social-heading {
    padding-left: 12px;
    padding-right: inherit; }

.ipts-captcha img {
  float: left;
  padding-right: 12px;
  margin-bottom: 10px; }
  .rtl .ipts-captcha img {
    float: right; }
  .rtl .ipts-captcha img {
    padding-left: 12px;
    padding-right: inherit; }
.ipts-captcha input {
  width: 100px; }

.blog-comment-block .fb-comments {
  margin: 0 -8px; }

#blog-localengine .comments {
  margin-bottom: 30px; }
#blog-localengine .form-horizontal {
  margin-bottom: 30px;
  padding: 20px; }
  #blog-localengine .form-horizontal label {
    display: block;
    margin-bottom: 0;
    padding-top: 7px; }
  #blog-localengine .form-horizontal .form-group:last-child {
    margin-bottom: 0; }

/* Load Submit Comment */
#blog-localengine .btn-secondary {
  background: #272727;
  color: #FFFFFF; }
  #blog-localengine .btn-secondary:hover {
    background: #8abf44;
    color: #FFFFFF; }
  #blog-localengine .btn-secondary .leoblog-cssload-container {
    text-align: center;
    display: none;
    position: relative;
    border: 2px solid #ffffff;
    border-left-color: transparent;
    border-right-color: transparent; }

@keyframes cssload-spin {
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg); } }
@-o-keyframes cssload-spin {
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes cssload-spin {
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes cssload-spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* categories menu display on left or right sidebar */
.blog-menu li {
  position: relative; }
.blog-menu ul {
  margin: 0px; }
  .blog-menu ul > li > a {
    font-weight: 300;
    border-bottom: 1px #e9e9e9 solid;
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 15px 0; }
  .blog-menu ul > li:last-child > a {
    border-bottom: none; }
  .blog-menu ul > li li a {
    font-size: 13px;
    padding: 0.625rem 1.25rem; }
.blog-menu .collapse-icons {
  position: absolute;
  top: 13px;
  padding: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  right: 10px; }
  .rtl .blog-menu .collapse-icons {
    left: 10px;
    right: auto; }
  .blog-menu .collapse-icons .material-icons {
    font-size: 0.9375rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute; }
  .blog-menu .collapse-icons[aria-expanded="true"] .add {
    display: none; }
  .blog-menu .collapse-icons[aria-expanded="true"] .remove {
    display: block; }
  .blog-menu .collapse-icons .remove {
    display: none; }

/*** RSS ***/
.blog-lastest-rss {
  float: right !important;
  position: relative;
  top: -35px; }
  .blog-lastest-rss a {
    color: #f8991d; }
    .blog-lastest-rss a:before {
      content: "\f09e";
      font-family: "FontAwesome";
      font-size: 30px;
      margin-right: 0.3125rem; }
      .rtl .blog-lastest-rss a:before {
        margin-left: 0.3125rem;
        margin-right: inherit; }
    .blog-lastest-rss a:hover {
      color: #8abf44; }

/*** Responsive part ***/
@media (min-width: 992px) {
  .blogs-container .product-count,
  .blog-detail .product-count {
    text-align: right;
    margin-top: 1rem; }
    .rtl .blogs-container .product-count, .rtl
    .blog-detail .product-count {
      text-align: left; } }
@media (max-width: 1199px) {
  #blog-localengine .form-horizontal label {
    text-align: left; }
    .rtl #blog-localengine .form-horizontal label {
      text-align: right; }

  .blog-detail .pagination, .blogs-container .pagination {
    text-align: center; }
  .blog-detail .page-item, .blogs-container .page-item {
    display: inline-block; } }
@media (max-width: 575px) {
  .video-code iframe {
    width: 100%; }

  .comment-wrap .comment-meta {
    display: inline-block; }
    .comment-wrap .comment-meta > span {
      display: inline-block;
      margin: 0.3125rem 0;
      width: 100%;
      float: left; }
      .rtl .comment-wrap .comment-meta > span {
        float: right; } }

/*# sourceMappingURL=leoblog.css.map */
