{*
* Replaces the string order reference with numeric one
*
* @package   gmnumericreference
* @author    Dariusz Tryba (contact@greenmousestudio.com)
* @copyright Copyright (c) Green Mouse Studio (http://www.greenmousestudio.com)
* @license   http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
*}

<div class="row-fluid" style="margin: 15px 0;">
   <div class="panel col-md-12">
      <fieldset>
         <div class="panel-heading">
            {l s='Preview' mod='gmnumeric'}
         </div>
         {l s='Generated order reference:' mod='gmnumeric'}
         <strong>{$gmnumeric_preview}</strong>
      </fieldset>
   </div>
</div>