/*-----------------------------------------------------------------------------

  - Revolution Slider 1.5.3 -

    Screen Stylesheet

version:    2.1
date:       09/18/11
last update: 06.12.2012
author:   themepunch
email:      info@themepunch.com
website:    http://www.themepunch.com
-----------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------

  - Revolution Slider 2.0 Captions -

    Screen Stylesheet

version:    1.4.5
date:       09/18/11
last update: 06.12.2012
author:   themepunch
email:      info@themepunch.com
website:    http://www.themepunch.com
-----------------------------------------------------------------------------*/
/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
.layerslider-wrapper {
  margin: 0 auto;
  position: relative;
  z-index: 9; }

.rev_slider {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 940px;
  z-index: 9; }

.bannercontainer {
  position: relative;
  margin: 0px auto;
  overflow: hidden;
  /*  BUTTONS */
  /*  BUTTON COLORS */
  /* SET THE ANIMATION EVEN MORE SMOOTHER ON ANDROID  */
  /* SOME CAPTION MODIFICATION AT START  */
  /*  IE8 HACKS */
  /* SHADOWS  */
  /* FULLSCREEN VIDEO */
  /* NAVIGATION */
  /** BULLETS **/
  /** SQUARE BULLETS **/
  /** SQUARE BULLETS **/
  /** navbar NAVIGATION VERSION **/
  /** navbar NAVIGATION VERSION **/
  /*  TP ARROWS */
  /*  TP THUMBS */
  /* TP BANNER TIMER */
  /* RESPONSIVE SETTINGS */
  /* BASIC SETTINGS FOR THE BANNER */
  /*  CAPTION SLIDELINK   **/ }
  .bannercontainer .banner-fullwidth {
    width: 100% !important;
    max-height: 500px !important; }
  .bannercontainer .fullwidthbanner {
    max-height: 500px !important;
    overflow: hidden !important;
    padding: 0;
    position: relative; }
  .bannercontainer.banner-fullwidth {
    width: 100% !important; }
  .bannercontainer div.caption {
    cursor: pointer; }
  .bannercontainer .tp-hide-revslider, .bannercontainer .tp-caption.tp-hidden-caption {
    visibility: hidden !important;
    display: none !important; }
  .bannercontainer .tp-caption {
    z-index: 1;
    position: absolute;
    text-shadow: none;
    border: none;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    white-space: nowrap;
    /* Slide home 1 */
    /* Slide home 2 */
    /* Slide home 3 */
    /* Slide home 4 */ }
    .bannercontainer .tp-caption.data-link {
      cursor: pointer; }
    .bannercontainer .tp-caption.btn {
      height: 3.125rem;
      line-height: 3.125rem;
      font-size: 0.875rem;
      font-weight: 700;
      padding: 0 40px; }
    .bannercontainer .tp-caption.data-link {
      cursor: pointer; }
    .bannercontainer .tp-caption.large_white_text {
      color: #fff;
      font-size: 14px;
      background: #fc9191;
      padding: 6px 20px 7px; }
    .bannercontainer .tp-caption.btn-slide .caption-contain {
      font-weight: 600;
      font-size: 14px;
      color: #333333;
      padding: 12px 49px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background: #ffffff;
      border-radius: 20px; }
      .bannercontainer .tp-caption.btn-slide .caption-contain:hover {
        background: #8abf44;
        color: #ffffff; }
    .bannercontainer .tp-caption.big_white {
      font-family: 'Kaushan Script', cursive;
      text-transform: none;
      color: #FFF;
      font-size: 60px;
      line-height: 60px; }
    .bannercontainer .tp-caption.big_white_2 {
      color: #fff;
      font-size: 71px;
      line-height: 70px;
      text-transform: none;
      text-align: center;
      font-family: "Damion", cursive; }
    .bannercontainer .tp-caption.big_white_3 {
      color: #fff;
      font-size: 78px;
      line-height: 90px;
      text-transform: none;
      font-family: 'Kaushan Script', cursive; }
    .bannercontainer .tp-caption.medium_grey {
      color: #fff;
      font-size: 39px;
      line-height: 50px;
      text-transform: none;
      font-family: 'Kaushan Script', cursive;
      opacity: 0.8 !important; }
    .bannercontainer .tp-caption.big_white_4 {
      color: #fff;
      font-size: 85px;
      line-height: 75px;
      text-transform: none;
      text-align: center;
      font-family: "Damion", cursive; }
    .bannercontainer .tp-caption.medium_text {
      color: #fff;
      font-weight: 600;
      font-size: 36px;
      line-height: 30px;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75); }
    .bannercontainer .tp-caption.large_black_text {
      color: #000;
      font-weight: 300;
      font-size: 24px;
      line-height: 24px;
      text-transform: none; }
    .bannercontainer .tp-caption.very_large_text {
      color: #fff;
      font-weight: 800;
      font-size: 60px;
      line-height: 60px;
      text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); }
    .bannercontainer .tp-caption.very_large_black_text {
      color: #000;
      font-size: 60px;
      line-height: 60px; }
    .bannercontainer .tp-caption.bold_red_text {
      color: #d31e00;
      font-weight: 400;
      font-size: 24px;
      line-height: 20px; }
    .bannercontainer .tp-caption.bold_brown_text {
      color: #a04606;
      font-weight: 800;
      font-size: 20px;
      line-height: 20px; }
    .bannercontainer .tp-caption.bold_green_text {
      color: #5b9830;
      font-weight: 800;
      font-size: 20px;
      line-height: 20px; }
    .bannercontainer .tp-caption.very_big_white {
      color: #FFFFFF;
      font-size: 4.063rem;
      font-weight: 300;
      text-transform: none;
      line-height: 65px; }
    .bannercontainer .tp-caption.very_big_black {
      color: #000;
      font-weight: 700;
      font-size: 60px;
      line-height: 60px;
      padding: 1px 4px 0;
      background-color: #fff; }
    .bannercontainer .tp-caption.cus_black {
      color: #232323;
      font-weight: 700;
      font-size: 54px;
      line-height: 54px; }
    .bannercontainer .tp-caption.cus_color {
      color: #fff;
      font-weight: 400;
      font-size: 16px;
      line-height: 25px;
      text-transform: none;
      width: 570px;
      text-align: center;
      white-space: inherit; }
    .bannercontainer .tp-caption.boxshadow {
      -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
      -o-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
      -ms-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); }
    .bannercontainer .tp-caption.black {
      color: #000;
      font-weight: 700;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: 5px; }
      .bannercontainer .tp-caption.black:before {
        background: #8abf44;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        content: "";
        height: 218px;
        left: 37px;
        position: absolute;
        top: -66px;
        width: 11px;
        z-index: -1; }
    .bannercontainer .tp-caption.white {
      font-size: 0.875rem;
      color: #FFFFFF;
      letter-spacing: 5px;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 30px; }
    .bannercontainer .tp-caption.noshadow {
      text-shadow: none; }
    .bannercontainer .tp-caption.btn-shopnow {
      text-align: center;
      line-height: 24px;
      min-width: 220px;
      min-height: 44px; }
      .bannercontainer .tp-caption.btn-shopnow .fa {
        margin-right: 5px; }
    .bannercontainer .tp-caption.fullscreenvideo {
      left: 0px;
      top: 0px;
      position: absolute;
      width: 100%;
      height: 100%; }
      .bannercontainer .tp-caption.fullscreenvideo iframe {
        width: 100% !important;
        height: 100% !important; }
    .bannercontainer .tp-caption .caption-contain {
      width: auto !important; }
  .bannercontainer .tp_inner_padding {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: none !important; }
  .bannercontainer .tp-button {
    padding: 0 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    height: 35px;
    cursor: pointer;
    color: #fff !important;
    font-size: 15px;
    line-height: 35px !important;
    font-family: proximanova, sans-serif;
    letter-spacing: -1px;
    text-transform: uppercase; }
  .bannercontainer .button.big {
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
    font-weight: bold;
    padding: 9px 20px;
    font-size: 19px;
    line-height: 57px !important;
    background: url(../images/gradient/g40.png) repeat-x top; }
  .bannercontainer .purchase:hover, .bannercontainer .button:hover, .bannercontainer .button.big:hover {
    background-position: bottom, 15px 11px; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .bannercontainer .button {
      padding: 4px 8px 3px;
      line-height: 25px !important;
      font-size: 11px !important;
      font-weight: normal; }
    .bannercontainer a.button {
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none; } }
  @media only screen and (min-width: 0px) and (max-width: 479px) {
    .bannercontainer .button {
      padding: 2px 5px 2px;
      line-height: 20px !important;
      font-size: 10px !important; }
    .bannercontainer a.button {
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none; } }
  .bannercontainer .button.green, .bannercontainer .button:hover.green, .bannercontainer .purchase.green, .bannercontainer .purchase:hover.green {
    background-color: #21a117;
    -moz-box-shadow: 0px 3px 0px 0px #104d0b;
    -webkit-box-shadow: 0px 3px 0px 0px #104d0b;
    -o-box-shadow: 0px 3px 0px 0px #104d0b;
    -ms-box-shadow: 0px 3px 0px 0px #104d0b;
    box-shadow: 0px 3px 0px 0px #104d0b; }
  .bannercontainer .button.blue, .bannercontainer .button:hover.blue, .bannercontainer .purchase.blue, .bannercontainer .purchase:hover.blue {
    background-color: #1d78cb;
    -moz-box-shadow: 0px 3px 0px 0px #0f3e68;
    -webkit-box-shadow: 0px 3px 0px 0px #0f3e68;
    -o-box-shadow: 0px 3px 0px 0px #0f3e68;
    -ms-box-shadow: 0px 3px 0px 0px #0f3e68;
    box-shadow: 0px 3px 0px 0px #0f3e68; }
  .bannercontainer .button.red, .bannercontainer .button:hover.red, .bannercontainer .purchase.red, .bannercontainer .purchase:hover.red {
    background-color: #cb1d1d;
    -moz-box-shadow: 0px 3px 0px 0px #7c1212;
    -webkit-box-shadow: 0px 3px 0px 0px #7c1212;
    -o-box-shadow: 0px 3px 0px 0px #7c1212;
    -ms-box-shadow: 0px 3px 0px 0px #7c1212;
    box-shadow: 0px 3px 0px 0px #7c1212; }
  .bannercontainer .button.orange, .bannercontainer .button:hover.orange, .bannercontainer .purchase.orange, .bannercontainer .purchase:hover.orange {
    background-color: #ff7700;
    -moz-box-shadow: 0px 3px 0px 0px #a34c00;
    -webkit-box-shadow: 0px 3px 0px 0px #a34c00;
    -o-box-shadow: 0px 3px 0px 0px #a34c00;
    -ms-box-shadow: 0px 3px 0px 0px #a34c00;
    box-shadow: 0px 3px 0px 0px #a34c00; }
  .bannercontainer .button.darkgrey, .bannercontainer .button.grey, .bannercontainer .button:hover.darkgrey, .bannercontainer .button:hover.grey, .bannercontainer .purchase.darkgrey, .bannercontainer .purchase:hover.darkgrey {
    background-color: #555;
    -moz-box-shadow: 0px 3px 0px 0px #222;
    -webkit-box-shadow: 0px 3px 0px 0px #222;
    -o-box-shadow: 0px 3px 0px 0px #222;
    -ms-box-shadow: 0px 3px 0px 0px #222;
    box-shadow: 0px 3px 0px 0px #222; }
  .bannercontainer .button.lightgrey, .bannercontainer .button:hover.lightgrey, .bannercontainer .purchase.lightgrey, .bannercontainer .purchase:hover.lightgrey {
    background-color: #888;
    -moz-box-shadow: 0px 3px 0px 0px #555;
    -webkit-box-shadow: 0px 3px 0px 0px #555;
    -o-box-shadow: 0px 3px 0px 0px #555;
    -ms-box-shadow: 0px 3px 0px 0px #555;
    box-shadow: 0px 3px 0px 0px #555; }
  .bannercontainer .tp-simpleresponsive .slotholder *, .bannercontainer .tp-simpleresponsive img {
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000; }
  .bannercontainer .tp-simpleresponsive .caption, .bannercontainer .tp-simpleresponsive .tp-caption {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    visibility: hidden; }
  .bannercontainer .tp-simpleresponsive img {
    max-width: none; }
  .bannercontainer .noFilterClass {
    filter: none !important; }
  .bannercontainer .tp-bannershadow {
    margin-left: auto;
    margin-right: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .bannercontainer .tp-bannershadow.tp-shadow1 {
      background: url(../assets/shadow1.png) no-repeat;
      background-size: 100%;
      width: 890px;
      height: 60px;
      bottom: -30px; }
    .bannercontainer .tp-bannershadow.tp-shadow2 {
      background: url(../assets/shadow2.png) no-repeat;
      background-size: 100%;
      width: 890px;
      height: 110px;
      bottom: -60px; }
    .bannercontainer .tp-bannershadow.tp-shadow3 {
      background: url(../assets/shadow3.png) no-repeat;
      background-size: 100%;
      width: 890px;
      height: 60px;
      bottom: -60px; }
  .bannercontainer .caption.fullscreenvideo {
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%; }
  .bannercontainer .caption iframe {
    width: 100% !important;
    height: 100% !important; }
  .bannercontainer .tpclear {
    clear: both; }
  .bannercontainer .tp-bullets {
    z-index: 25;
    position: absolute;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out; }
  .bannercontainer .tp-bullets.hidebullets {
    opacity: 0;
    filter: alpha(opacity=0); }
  .bannercontainer .tp-bullets.simplebullets.navbar {
    border: 1px solid #666;
    border-bottom: 1px solid #444;
    background: url(../assets/boxed_bgtile.png);
    height: 40px;
    padding: 0px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  .bannercontainer .tp-bullets.simplebullets.navbar-old {
    background: url(../assets/navigdots_bgtile.png);
    height: 35px;
    padding: 0px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  .bannercontainer .tp-bullets.simplebullets.round .bullet {
    cursor: pointer;
    position: relative;
    background: url(../assets/bullet.png) no-Repeat top left;
    width: 20px;
    height: 20px;
    margin-right: 0px;
    float: left;
    margin-top: -10px;
    margin-left: 3px; }
  .bannercontainer .tp-bullets.simplebullets.round .bullet.last {
    margin-right: 3px; }
  .bannercontainer .tp-bullets.simplebullets.round-old .bullet {
    cursor: pointer;
    position: relative;
    background: url(../assets/bullets.png) no-Repeat bottom left;
    width: 23px;
    height: 23px;
    margin-right: 0px;
    float: left;
    margin-top: -12px; }
  .bannercontainer .tp-bullets.simplebullets.round-old .bullet.last {
    margin-right: 0px; }
  .bannercontainer .tp-bullets.simplebullets.square .bullet {
    cursor: pointer;
    position: relative;
    background: url(../assets/bullets2.png) no-Repeat bottom left;
    width: 19px;
    height: 19px;
    margin-right: 0px;
    float: left;
    margin-top: -10px; }
  .bannercontainer .tp-bullets.simplebullets.square .bullet.last {
    margin-right: 0px; }
  .bannercontainer .tp-bullets.simplebullets.square-old .bullet {
    cursor: pointer;
    position: relative;
    background: url(../assets/bullets2.png) no-Repeat bottom left;
    width: 19px;
    height: 19px;
    margin-right: 0px;
    float: left;
    margin-top: -10px; }
  .bannercontainer .tp-bullets.simplebullets.square-old .bullet.last {
    margin-right: 0px; }
  .bannercontainer .tp-bullets.simplebullets.navbar .bullet {
    cursor: pointer;
    position: relative;
    background: url(../assets/bullet_boxed.png) no-Repeat top left;
    width: 18px;
    height: 19px;
    margin-right: 5px;
    float: left;
    margin-top: 10px; }
  .bannercontainer .tp-bullets.simplebullets.navbar .bullet.first {
    margin-left: 0px !important; }
  .bannercontainer .tp-bullets.simplebullets.navbar .bullet.last {
    margin-right: 0px !important; }
  .bannercontainer .tp-bullets.simplebullets.navbar-old .bullet {
    cursor: pointer;
    position: relative;
    background: url(../assets/navigdots.png) no-Repeat bottom left;
    width: 15px;
    height: 15px;
    margin-left: 5px !important;
    margin-right: 5px !important;
    float: left;
    margin-top: 10px; }
  .bannercontainer .tp-bullets.simplebullets.navbar-old .bullet.first {
    margin-left: 0px !important; }
  .bannercontainer .tp-bullets.simplebullets.navbar-old .bullet.last {
    margin-right: 0px !important; }
  .bannercontainer .tp-bullets.simplebullets .bullet:hover, .bannercontainer .tp-bullets.simplebullets .bullet.selected {
    background-position: top left; }
  .bannercontainer .tp-bullets.simplebullets.round .bullet:hover, .bannercontainer .tp-bullets.simplebullets.round .bullet.selected, .bannercontainer .tp-bullets.simplebullets.navbar .bullet:hover, .bannercontainer .tp-bullets.simplebullets.navbar .bullet.selected {
    background-position: bottom left; }
  .bannercontainer .tparrows {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out; }
  .bannercontainer .tparrows.hidearrows {
    opacity: 0;
    filter: alpha(opacity=0); }
  .bannercontainer .tp-leftarrow {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../assets/large_left.png) no-Repeat top left;
    width: 40px;
    height: 40px; }
  .bannercontainer .tp-rightarrow {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../assets/large_right.png) no-Repeat top left;
    width: 40px;
    height: 40px; }
  .bannercontainer .tp-leftarrow.round {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../assets/small_left.png) no-Repeat top left;
    width: 19px;
    height: 14px;
    margin-right: 0px;
    float: left;
    margin-top: -7px; }
  .bannercontainer .tp-rightarrow.round {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../assets/small_right.png) no-Repeat top left;
    width: 19px;
    height: 14px;
    margin-right: 0px;
    float: left;
    margin-top: -7px; }
  .bannercontainer .tp-leftarrow.round-old {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../assets/arrow_left.png) no-Repeat top left;
    width: 26px;
    height: 26px;
    margin-right: 0px;
    float: left;
    margin-top: -13px; }
  .bannercontainer .tp-rightarrow.round-old {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../assets/arrow_right.png) no-Repeat top left;
    width: 26px;
    height: 26px;
    margin-right: 0px;
    float: left;
    margin-top: -13px; }
  .bannercontainer .tp-leftarrow.navbar {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../assets/small_left_boxed.png) no-Repeat top left;
    width: 20px;
    height: 15px !important;
    min-height: 15px !important;
    float: left;
    margin-right: 6px;
    margin-top: 12px; }
  .bannercontainer .tp-rightarrow.navbar {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../assets/small_right_boxed.png) no-Repeat top left;
    width: 20px;
    height: 15px !important;
    min-height: 15px !important;
    float: left;
    margin-left: 6px;
    margin-top: 12px; }
  .bannercontainer .tp-leftarrow.navbar-old {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../assets/arrowleft.png) no-Repeat top left;
    width: 9px;
    height: 16px;
    float: left;
    margin-right: 6px;
    margin-top: 10px; }
  .bannercontainer .tp-rightarrow.navbar-old {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../assets/arrowright.png) no-Repeat top left;
    width: 9px;
    height: 16px;
    float: left;
    margin-left: 6px;
    margin-top: 10px; }
  .bannercontainer .tp-leftarrow.navbar-old:hover, .bannercontainer .tp-rightarrow.navbar-old:hover {
    background-position: left -16px; }
  .bannercontainer .tp-leftarrow.navbar-old.thumbswitharrow {
    margin-right: 10px; }
  .bannercontainer .tp-rightarrow.navbar-old.thumbswitharrow {
    margin-left: 0px; }
  .bannercontainer .tp-leftarrow.square {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../assets/arrow_left2.png) no-repeat top left;
    width: 12px;
    height: 17px;
    float: left;
    margin-right: 0px;
    margin-top: -9px; }
  .bannercontainer .tp-rightarrow.square {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../assets/arrow_right2.png) no-repeat top left;
    width: 12px;
    height: 17px;
    float: left;
    margin-left: 0px;
    margin-top: -9px; }
  .bannercontainer .tp-leftarrow.square-old {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../assets/arrow_left2.png) no-repeat top left;
    width: 12px;
    height: 17px;
    float: left;
    margin-right: 0px;
    margin-top: -9px; }
  .bannercontainer .tp-rightarrow.square-old {
    z-index: 100;
    cursor: pointer;
    position: relative;
    background: url(../assets/arrow_right2.png) no-repeat top left;
    width: 12px;
    height: 17px;
    float: left;
    margin-left: 0px;
    margin-top: -9px; }
  .bannercontainer .tp-leftarrow.square-old:hover, .bannercontainer .tp-rightarrow.square-old:hover {
    background-position: left -17px; }
  .bannercontainer .tp-leftarrow.default {
    z-index: 20;
    cursor: pointer;
    position: relative;
    background: url(../assets/large_left.png) no-repeat 0 0;
    width: 40px;
    height: 40px;
    left: 0; }
  .bannercontainer .tp-rightarrow.default {
    z-index: 20;
    cursor: pointer;
    position: relative;
    background: url(../assets/large_right.png) no-repeat 0 0;
    width: 40px;
    height: 40px;
    right: 0; }
  .bannercontainer .tp-leftarrow.default:hover, .bannercontainer .tp-rightarrow.default:hover {
    background-position: left -40px; }
  .bannercontainer .tp-leftarrow:hover, .bannercontainer .tp-rightarrow:hover {
    background-position: left -14px; }
  .bannercontainer .tp-bullets.tp-thumbs {
    z-index: 1000;
    position: absolute;
    padding: 3px;
    background-color: #fff;
    width: 500px;
    height: 3.125rem;
    /* THE DIMENSIONS OF THE THUMB CONTAINER */
    margin-top: -3.125rem; }
  .bannercontainer .fullwidthbanner-container .tp-thumbs {
    padding: 3px; }
  .bannercontainer .tp-bullets.tp-thumbs .tp-mask {
    width: 500px;
    height: 3.125rem;
    /* THE DIMENSIONS OF THE THUMB CONTAINER */
    overflow: hidden;
    position: relative; }
  .bannercontainer .tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer {
    width: 5000px;
    position: absolute; }
  .bannercontainer .tp-bullets.tp-thumbs .bullet {
    width: 100px;
    height: 3.125rem;
    /* THE DIMENSION OF A SINGLE THUMB */
    cursor: pointer;
    overflow: hidden;
    background: none;
    margin: 0;
    float: left;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  .bannercontainer .tp-bullets.tp-thumbs .bullet:hover, .bannercontainer .tp-bullets.tp-thumbs .bullet.selected {
    opacity: 1;
    filter: alpha(opacity=100); }
  .bannercontainer .tp-thumbs img {
    width: 100%; }
  .bannercontainer .tp-bannertimer {
    width: 100%;
    height: 10px;
    background: url(../assets/timer.png) red;
    position: absolute;
    z-index: 200; }
  .bannercontainer .tp-bannertimer.tp-bottom {
    bottom: 0px !important;
    height: 5px; }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .bannercontainer .responsive .tp-bullets.tp-thumbs {
      width: 300px !important;
      height: 30px !important; }
    .bannercontainer .responsive .tp-bullets.tp-thumbs .tp-mask {
      width: 300px !important;
      height: 30px !important; }
    .bannercontainer .responsive .tp-bullets.tp-thumbs .bullet {
      width: 60px !important;
      height: 30px !important; } }
  @media only screen and (min-width: 0px) and (max-width: 479px) {
    .bannercontainer .responsive .tp-bullets {
      display: none; }
    .bannercontainer .responsive .tparrows {
      display: none; } }
  .bannercontainer .tp-simpleresponsive img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .bannercontainer .tp-simpleresponsive a {
    text-decoration: none; }
  .bannercontainer .tp-simpleresponsive ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .bannercontainer .tp-simpleresponsive > ul > li {
    list-stye: none;
    position: absolute;
    visibility: hidden; }
  .bannercontainer .caption.slidelink a div, .bannercontainer .tp-caption.slidelink a div {
    width: 10000px;
    height: 10000px;
    background: url(../assets/coloredbg.png) repeat; }
  .bannercontainer .tp-loader {
    background: url(../assets/loader.gif) no-repeat 10px 10px;
    background-color: #fff;
    margin: -22px -22px;
    top: 50%;
    left: 50%;
    z-index: 10000;
    position: absolute;
    width: 44px;
    height: 44px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
  .bannercontainer .tp-transparentimg {
    content: "url(../assets/transparent.png)"; }
  .bannercontainer .tp-3d {
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%; }

/*# sourceMappingURL=typo.css.map */
