/*
 * Custom code goes here. #8abf44
 * A template should always ship with an empty custom.css
 */
.header-nav {
    font-size: 0.875rem;
    background: #F2F2F2;
}

.header_logo {
    padding-top: 15px;
    padding-bottom: 11px;
}
/* Color Theme Swatches in Hex */
.Niezłe-ziółko-z-nagłówka-1-hex { color: #3A8C23; }
.Niezłe-ziółko-z-nagłówka-2-hex { color: #31731F; }
.Niezłe-ziółko-z-nagłówka-3-hex { color: #F2C705; }
.aaa-3-hex { color: #734D45; }
.aaa-4-hex { color: #402725; }
.Niezłe-ziółko-z-nagłówka-5-hex { color: #F2F2F2; }

.block-contact {
    position: relative;
    display: flex;
    height: 100px;
    color: #fff;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    text-align: center;
}
.block-contact a, .block-contact h4{
    color: #FFFFFF;
    margin: 0;
}
.block-contact a:hover{
    color: #9f3f40;
}
