/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/* Header 5 */
.topnav {
  background: #f5f5f5; }

.bottomnav {
  background: #FFFFFF; }

#_desktop_cart {
  margin-top: 5px; }
  #_desktop_cart .cart-left {
    display: none; }
  @media (min-width: 1400px) {
    #_desktop_cart {
      position: fixed;
      top: 25px;
      right: 40px;
      z-index: 9; }
      .rtl #_desktop_cart {
        left: 40px;
        right: auto; } }
  @media (max-width: 1399px) {
    #_desktop_cart {
      float: left; }
      .rtl #_desktop_cart {
        float: right; } }
  @media (max-width: 991px) {
    #_desktop_cart {
      position: absolute;
      right: 15px;
      top: -70px;
      margin: 0; } }

.leo-megamenu:before {
  display: none !important; }
@media (min-width: 992px) {
  .leo-megamenu .navbar-nav > li > a {
    color: #333333;
    padding: 16px 0 17px 37px; }
    .rtl .leo-megamenu .navbar-nav > li > a {
      padding: 16px 37px 17px 0; }
  .leo-megamenu .navbar-nav > li.active > a, .leo-megamenu .navbar-nav > li:hover > a, .leo-megamenu .navbar-nav > li:focus > a {
    color: #8abf44; } }
@media (min-width: 992px) {
  .leo-megamenu .leo-top-menu {
    display: inline-block !important; } }

.search-widget {
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: top; }
  .search-widget form input[type=text] {
    border: none;
    height: 30px;
    max-width: 100%; }
  .search-widget form button[type=submit] {
    height: 30px;
    line-height: 30px; }

@media (min-width: 992px) {
  .horizontal-menu {
    margin-top: 50px;
    text-align: right; }
    .rtl .horizontal-menu {
      text-align: left; } }
@media (max-width: 1399px) and (min-width: 992px) {
  .horizontal-menu .ApMegamenu {
    float: right; }
    .rtl .horizontal-menu .ApMegamenu {
      float: left; } }
@media (max-width: 991px) {
  .horizontal-menu .ApMegamenu .leo-megamenu .navbar-toggler {
    position: absolute;
    left: 15px;
    top: -70px; } }

@media (max-width: 991px) {
  .header_logo {
    text-align: center; } }

@media (max-width: 1399px) and (min-width: 992px) {
  .group-menu {
    position: relative; }
    .group-menu .leo-megamenu.navbar {
      position: static; } }

/*# sourceMappingURL=headerposition1511157676.css.map */
