/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/* Header 1 */
.topnav {
  background: #f5f5f5; }

.bottomnav {
  background: #FFFFFF;
  border-bottom: 1px #e9e9e9 solid; }

.leo-megamenu .navbar-nav > li > a {
  padding: 16px 36px 17px 0; }
  .rtl .leo-megamenu .navbar-nav > li > a {
    padding: 16px 0 17px 36px; }
@media (min-width: 992px) {
  .leo-megamenu .dropdown:hover > .dropdown-menu {
    left: -30px; }
    .rtl .leo-megamenu .dropdown:hover > .dropdown-menu {
      right: -30px;
      left: auto; } }

@media (max-width: 991px) {
  .header_logo {
    text-align: center; }

  .search-widget, #_desktop_cart {
    margin-top: 0; }

  .ap-btn-wishlist-nav {
    margin: 0 40px 0 0; }
    .rtl .ap-btn-wishlist-nav {
      margin: 0 0 0 40px; }

  .group-header {
    margin-bottom: 20px; }

  .leo-megamenu:before {
    height: 0; } }
@media (max-width: 991px) and (min-width: 576px) {
  .search-widget {
    width: 80%;
    margin-left: 20%; }
    .rtl .search-widget {
      margin-right: 20%;
      margin-left: inherit; }

  .leo-megamenu .navbar-toggler {
    position: absolute;
    bottom: 74px; } }
@media (max-width: 575px) {
  .search-widget {
    margin-bottom: 20px; }

  .leo-megamenu .navbar-toggler {
    position: absolute;
    bottom: 71px; } }

/*# sourceMappingURL=headerposition1509534895.css.map */
