/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/* Header 3 */
.topnav {
  background: #f5f5f5; }

.bottomnav {
  background: #FFFFFF; }

@media (min-width: 992px) {
  .horizontal-menu {
    text-align: center; }
    .horizontal-menu .leo-top-menu {
      display: inline-block !important;
      vertical-align: top; } }

.leo-megamenu .navbar-nav > li > a {
  padding: 16px 18px 17px 18px; }
  .rtl .leo-megamenu .navbar-nav > li > a {
    padding: 16px 18px 17px 18px; }

@media (max-width: 991px) {
  .header_logo {
    text-align: center; }

  .search-widget, .ap-btn-wishlist-nav, #_desktop_cart {
    margin-top: 0; }

  .group-header {
    margin-bottom: 20px; }

  .leo-megamenu:before {
    height: 0; } }
@media (max-width: 991px) and (min-width: 576px) {
  .search-widget {
    width: 80%;
    margin-left: 20%; }
    .rtl .search-widget {
      margin-right: 20%;
      margin-left: inherit; }

  .leo-megamenu .navbar-toggler {
    position: absolute;
    bottom: 24px; } }
@media (max-width: 575px) {
  .search-widget {
    margin-bottom: 20px; }

  .leo-megamenu .navbar-toggler {
    position: absolute;
    bottom: 21px; } }

/*# sourceMappingURL=headerposition1510831187.css.map */
