/***************************************************
  Mixins Themes 
/***************************************************/
/* Mixin Normal*/
/* Mixin Clear */
/* Mixin Border */
/*background RGBA
============================================*/
/***************************************************
  Mixins RTL Themes 
/***************************************************/
/************************************ 
	Override Bootstrap 
*************************************/
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/* Header 4 */
.topnav {
  background: #f5f5f5; }

.bottomnav {
  background: #FFFFFF; }

@media (min-width: 576px) {
  .box_services {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 45px; } }
@media (min-width: 992px) {
  .box_services .block {
    margin-right: 10px; }
    .rtl .box_services .block {
      margin-left: 10px;
      margin-right: inherit; } }
@media (max-width: 991px) {
  .box_services .block {
    margin: 0 10px 30px; } }

.search-widget {
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: top; }
  @media (max-width: 767px) and (min-width: 481px) {
    .search-widget {
      padding-right: 150px; }
      .rtl .search-widget {
        padding-left: 150px;
        padding-right: inherit; } }
  .search-widget form input[type=text] {
    border: none;
    height: 30px;
    max-width: 100%; }
  .search-widget form button[type=submit] {
    height: 30px;
    line-height: 30px; }

@media (max-width: 991px) {
  .header_logo {
    text-align: center;
    padding-bottom: 0; } }

.leo-megamenu .navbar-nav > li > a {
  padding: 16px 36px 17px 0; }
  .rtl .leo-megamenu .navbar-nav > li > a {
    padding: 16px 0 17px 36px; }
@media (max-width: 991px) {
  .leo-megamenu .navbar-toggler {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    z-index: 9; } }

@media (max-width: 767px) {
  #_desktop_cart .cart-left {
    display: none; } }
@media (max-width: 767px) and (min-width: 481px) {
  #_desktop_cart {
    position: absolute;
    bottom: -45px;
    z-index: 9;
    right: 15px;
    margin: 0 !important; }
    .rtl #_desktop_cart {
      left: 15px;
      right: auto; }
    #_desktop_cart .cart-preview .shopping-cart {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      -o-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none; } }
@media (max-width: 480px) {
  #_desktop_cart {
    margin: 0 0 20px 0; }
    .rtl #_desktop_cart {
      margin: 0 0 20px 0; } }

@media (max-width: 767px) and (min-width: 481px) {
  .ap-btn-wishlist-nav {
    border-color: #FFFFFF;
    position: absolute;
    bottom: -45px;
    z-index: 9;
    right: 90px;
    color: #FFFFFF;
    margin: 0 !important; }
    .rtl .ap-btn-wishlist-nav {
      left: 90px;
      right: auto; } }
@media (max-width: 480px) {
  .ap-btn-wishlist-nav {
    margin: 0 0 20px 0;
    float: left; }
    .rtl .ap-btn-wishlist-nav {
      margin: 0 0 20px 0; }
    .rtl .ap-btn-wishlist-nav {
      float: right; } }

/*# sourceMappingURL=headerposition1510912301.css.map */
